/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700);
/* VARIABLER */
/* MIXIN */
/* DEFAULT */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0px; padding: 0px; }

html { overflow-y: scroll; }

body { background: #ececec; font-family: 'Raleway', sans-serif; -webkit-text-size-adjust: none; padding-top: 46px; }

html, body, .wrapper, #content, .mini { height: 100%; }

h1, .page-title.app-custom .field-item { font-size: 25px; line-height: 25px; text-transform: uppercase; margin-bottom: 5px; font-weight: normal; word-wrap: break-word; font-weight: 600; }

h2, .prose h2 { font-size: 20px; margin-bottom: 15px; margin-top: 30px; line-height: 20px; text-transform: uppercase; font-weight: normal; font-weight: 600; }

table, td { border: none; }

.prose a { color: #cf9c0a; }

.prose a:hover { text-decoration: underline; }

.prose p { font-family: 'Georgia', sans-serif; margin: 0 0 15px; }

a { text-decoration: none; }

section, header { padding: 0px; margin: 0px; }

.node-type-app-frontpage { font-size: 34px; font-weight: 600; text-transform: uppercase; }
@media screen and (max-width: 740px) { .node-type-app-frontpage { font-size: 14px; } }
.node-type-app-frontpage a { position: absolute; left: 0px; bottom: 0px; width: 100%; height: 100%; z-index: 999; }
.node-type-app-frontpage .pane-content { display: table-cell; vertical-align: middle; text-align: center; }
.node-type-app-frontpage .pane-content .title { position: relative; z-index: 99; width: 98%; overflow: hidden; }
.node-type-app-frontpage .image .tile-image { height: 100%; width: 100%; transition: opacity .45s ease-in-out; -moz-transition: opacity .45s ease-in-out; -webkit-transition: opacity .45s ease-in-out; position: absolute; left: 0px; bottom: 0px; opacity: 0.3; background: center; -webkit-background-size: scale; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.node-type-app-frontpage .tile { position: relative; display: table; padding: 2px; overflow: hidden; }
.node-type-app-frontpage .tile-1 { transition: background .45s ease-in-out; -moz-transition: background .45s ease-in-out; -webkit-transition: background .45s ease-in-out; background: #000; width: 32.5%; float: left; height: 19.4%; font-weight: normal; color: #fff; }
.node-type-app-frontpage .tile-1:hover { background: #383838; }
.node-type-app-frontpage .tile-2 { width: 67.5%; height: 19.4%; float: left; background: #000; color: #cf9c0a; }
.node-type-app-frontpage .tile-2:hover .tile-image { opacity: 0.1 !important; }
.node-type-app-frontpage .tile-3 { float: left; height: 40%; width: 67.5%; color: #3d3d3d; }
.node-type-app-frontpage .tile-3:hover .tile-image { opacity: 0.1 !important; }
.node-type-app-frontpage .tile-4 { transition: opacity .45s ease-in-out; -moz-transition: opacity .45s ease-in-out; -webkit-transition: opacity .45s ease-in-out; float: right; width: 32.5%; height: 19.4%; background: #ffd457; color: #cf9c0a; }
.node-type-app-frontpage .tile-4:hover { opacity: 0.5; }
.node-type-app-frontpage .tile-5 { float: right; width: 32.5%; height: 40%; color: #cf9c0a; background: #000; }
.node-type-app-frontpage .tile-5 .tile-image { opacity: 0.5; }
.node-type-app-frontpage .tile-5:hover .tile-image { opacity: 0.2; }
.node-type-app-frontpage .tile-6 { float: left; width: 32.5%; height: 19.4%; }
.node-type-app-frontpage .tile-6:hover .tile-image { opacity: 0.1; }
.node-type-app-frontpage .tile-7 { transition: background .45s ease-in-out; -moz-transition: background .45s ease-in-out; -webkit-transition: background .45s ease-in-out; float: left; width: 35%; height: 19.4%; background: #565656; color: #fff; }
.node-type-app-frontpage .tile-7:hover { background: #000; }
.node-type-app-frontpage .tile-8 { transition: background .45s ease-in-out; -moz-transition: background .45s ease-in-out; -webkit-transition: background .45s ease-in-out; float: left; width: 32.5%; background: #fff; color: #cf9c0a; height: 21.2%; }
.node-type-app-frontpage .tile-8:hover { background: #ececec; }
.node-type-app-frontpage .tile-9 { float: left; height: 21.2%; width: 67.5%; }
.node-type-app-frontpage .tile-9:hover .tile-image { opacity: 0.1; }

.node-type-app-list h1 { padding: 0 10px 10px; }
.node-type-app-list .bottom { height: 10px; }

.app-references { background: #fff; margin: 10px; margin-bottom: 0px; }
.app-references article { position: relative; clear: both; overflow: auto; }
.app-references article .thumbnail { position: absolute; left: 0px; top: 0px; }
.app-references article .content { -webkit-transition: color 0.2s ease-out; -moz-transition: color 0.2s ease-out; -o-transition: color 0.2s ease-out; -ms-transition: color 0.2s ease-out; transition: color 0.2s ease-out; color: #8F8F8F; font-size: 20px; font-weight: 700; height: 115px; padding: 20px; padding-left: 130px; }
.app-references article .content div { height: 75px; display: table-cell; vertical-align: middle; }
.app-references article .tile-image { height: 115px; width: 115px; }
.app-references article .arrow { position: absolute; right: 10px; bottom: 10px; width: 26px; height: 31px; background: url(../images/yellow_menu_arrow.png) no-repeat right bottom; }
.svg .app-references article .arrow { background: url(../images/yellow_menu_arrow.svg) no-repeat right bottom; }
.app-references article .path a { position: absolute; left: 0px; bottom: 0px; height: 100%; width: 100%; }
.app-references article:hover .content { color: #000; }

.app-references.page { margin-top: 10px; margin-bottom: 10px; }

.mini-center { margin-bottom: 7px; }
@media screen and (max-width: 740px) { .mini-center h1 { font-size: 28px; }
  .mini-center .body-center-image .views-field-field-center-img-text { padding: 10px 30px !important; padding-left: 40px !important; }
  .svg .mini-center .body-center-image .views-field-field-center-img-text { background-position: 15px 12px !important; }
  .no-svg .mini-center .body-center-image .views-field-field-center-img-text { background-position: 15px 12px !important; } }
.mini-center .body-center-image { font-family: 'Georgia', sans-serif; }
.mini-center .body-center-image .views-field-field-topimage img { width: 100%; height: auto; }
.mini-center .body-center-image .views-field-field-center-img-text { padding: 20px 90px; color: #8F8F8F; }
.svg .mini-center .body-center-image .views-field-field-center-img-text { background: url(../images/dark_arrow.svg) no-repeat; background-position: 35px 15px; }
.no-svg .mini-center .body-center-image .views-field-field-center-img-text { background: url(../images/dark_arrow.png) no-repeat; background-position: 35px 15px; }

.mini-center-secondary { padding: 0px 10px !important; color: #3d3d3d; width: 995px; position: relative; margin: 0 auto; }
@media screen and (max-width: 1010px) { .mini-center-secondary { width: 100%; } }
@media screen and (max-width: 1024px) { .mini-center-secondary { padding-left: 150px; padding-right: 150px; } }
@media screen and (max-width: 900px) { .mini-center-secondary { padding-left: 50px; padding-right: 50px; } }
@media screen and (max-width: 740px) { .mini-center-secondary { padding-left: 0px; padding-right: 0px; } }
.mini-center-secondary #content { background: #fff; width: 67%; overflow: hidden; padding-bottom: 40px; }
@media screen and (max-width: 1024px) { .mini-center-secondary #content { width: 100%; clear: both; } }
.mini-center-secondary #content .page-title { padding: 0px 30px; padding-top: 30px; }
.mini-center-secondary #content .body { padding: 10px 30px; }
.mini-center-secondary .download-app { margin-top: 20px; display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 10px 15px; background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODQlIiBzdG9wLWNvbG9yPSIjZTVlNWU1Ii8+PHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(84%, #e5e5e5), color-stop(99%, #f2f2f2)); background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 84%, #f2f2f2 99%); background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 84%, #f2f2f2 99%); background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 84%, #f2f2f2 99%); border: 1px solid #F2F2F2; -moz-box-shadow: #999 0px 0px 3px; -webkit-box-shadow: #999 0px 0px 3px; box-shadow: #999 0px 0px 3px; }

body.node-type-app-list { padding-top: 71px; }

.event-list { padding: 10px 30px 0; overflow: auto; }
.event-list .views-row { border-bottom: 2px solid #ECECEC; overflow: auto; padding-bottom: 10px; padding-top: 15px; position: relative; }
.event-list .views-row .image { top: 10px; }
.event-list .views-row-last { border-bottom: 0px; }
.event-list .views-row:hover .to-event { text-decoration: underline; }
.event-list .views-row:hover .image img { opacity: 0.8; }
.event-list h2 { margin-bottom: 0px; margin-top: 0px; }
.event-list h2 a { color: #3d3d3d; }
.event-list .image { float: left; position: absolute; left: 0px; top: 0px; }
.event-list .image img { width: 110px; height: auto; border: 2px solid #ECECEC; padding: 2px; transition: opacity .45s ease-in-out; -moz-transition: opacity .45s ease-in-out; -webkit-transition: opacity .45s ease-in-out; }
@media screen and (max-width: 740px) { .event-list .image img { width: 100%; } }
.event-list .content { float: left; margin-top: 4px; margin-left: 15px; padding-left: 115px; }
.event-list .to-event { color: #cf9c0a; background: url(../images/grey_arrow.png) no-repeat left center; padding-left: 20px; margin-left: -3px; }
.event-list .views-field-field-date-event { font-family: "Georgia",sans-serif; font-weight: bold; color: #8F8F8F; }
.event-list .views-field-body a { font-family: "Georgia",sans-serif; color: #3D3D3D; display: block; padding: 2px 0px; }
.event-list div.pager { border-top: 2px solid #ECECEC; padding-top: 15px; }
.event-list div.pager ul { list-style: none; }
.event-list div.pager li { padding: 0px 5px; float: left; }
.event-list div.pager li a { color: #cf9c0a; }
@media screen and (max-width: 740px) { .event-list .image { float: none; position: static; }
  .event-list .content { float: none; position: static; padding-left: 0px; } }

footer { overflow: auto; clear: both; width: 995px; position: relative; margin: 0 auto; }
@media screen and (max-width: 1010px) { footer { width: 100%; } }
@media screen and (max-width: 1024px) { footer { padding-left: 150px; padding-right: 150px; } }
@media screen and (max-width: 900px) { footer { padding-left: 50px; padding-right: 50px; } }
@media screen and (max-width: 740px) { footer { padding-left: 0px; padding-right: 0px; } }
footer .bottom-text { clear: both; margin-top: 65px; float: left; }
@media screen and (max-width: 740px) { footer .bottom-text { padding: 0px 20px; margin-top: 0px; } }
footer .bottom-text h2 { text-transform: uppercase; color: #3d3d3d; font-size: 16px; font-weight: normal; margin-bottom: 25px; }
footer .bottom-text p { color: #7d7d7d; font-size: 14px; }
footer .bottom-text table * { display: block; }
footer .bottom-text table td { vertical-align: top; float: left; width: 33%; }
@media screen and (max-width: 1024px) { footer .bottom-text table td { width: 50%; padding-right: 20px; padding-bottom: 60px; } }
@media screen and (max-width: 740px) { footer .bottom-text table td { width: 100%; padding-bottom: 20px; } }
