// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .content-inner
// |
// --------------------------------------------------
// Variables
// --------------------------------------------------
// Responsive
$xs-page-layout-content-inner-padding-top: 20px;
$sm-page-layout-content-inner-padding-top: 30px;
$md-page-layout-content-inner-padding-top: 40px;
$xs-page-layout-content-inner-padding-bottom: 25px;
$sm-page-layout-content-inner-padding-bottom: 40px;
$md-page-layout-content-inner-padding-bottom: 60px;
// Color on headings
$section-heading-color: #386c87;
// --------------------------------------------------
// Styling
// --------------------------------------------------
// Page layout
body {
    font-family: $font-lato;
    font-weight: normal;
    color: $color-font-dark-secondary;
    font-size: 1.0625em;
}

.events {
    width: 100%;
}

.call-to-action {
    text-align: center;
    background-color: $color-btn;
    color: $color-light-background;
    .pane-title {
        color: $color-light-background;
    }
}

.panel-pane .pane-custom .pane-1 {
    display: none;
}

#block-system-main .col-xs-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#block-system-main .panel-pane {
    width: 100%;
    padding: 0;
}

.pane-events h2 {
    display: none!important;
}

.pane-events {
    background: #e0ded4;
    padding: 40px!important;
}

.pane-events .pane-title {
    display: none!important;
}

.pane-events {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pane-block-1 {
    max-width: 1024px;
    padding: 40px!important;
}

.views-exposed-form label {
    display: none;
}

.views-exposed-widgets {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    margin-bottom: 15px;
}

article .field-type-text-with-summary {
    display: none!important;
}

.panel-pane .views-view-grid {
    width: 100%!important;
}

.panel-pane tbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.panel-pane article {
    margin-left: 15px;
    margin-right: 15px;
}

.teaser .date {
    
    width: 60px;
    height: 60px;
    background: rgba(50,0,0,0.8);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 28px;
}

.event-teaser {
    margin: 0px;
    overflow: hidden!important;
     padding-bottom: 20px!important;
    width: 25vw;
    height: 22vh;
    min-width: inherit!important;
    max-width: inherit!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar-left .pane-title {
    
    font-size: 16px!important;
    text-transform: uppercase;
    color: #555;
}

.sidebar-right .pane-title {
    
    font-size: 16px!important;
    text-transform: uppercase;
    color: #aaa;
}

.sidebar-right {
    
    border-left: 1px solid rgba(0,0,0,0.1);
    padding: 30px;
}

.page-node .main-container {
    
    padding-top: 40px;
}
.pane-os2sub-social-share-os2sub-social-share .pane-title {
    
    padding-bottom: 10px;
}

.content-wrapper .inner-content {
  padding-right: 80px;
}

.page-node .pane-custom {
    
    margin-bottom: 20px;
}

iframe {
    
    width: 100%;
    height: 250px;
}

.page-node .pane-custom h2 {
    
    margin-top: 0px;
}

.block__share-links__link a {
    
    font-size: 16px!important;
    padding: 0;
    margin: 0;
}

.panel-pane .field-item {
    
    font-size: 16px;
    font-weight: 200;
}
.teaser {
    -webkit-box-shadow: inset 0px 0px 63px 0px rgba(0,0,0,0.50);
-moz-box-shadow: inset 0px 0px 63px 0px rgba(0,0,0,0.50);
box-shadow: inset 0px 0px 63px 0px rgba(0,0,0,0.50);
}

.event-teaser-title {
    
    font-size: 2.4em;
    color: #fff;
    margin-left: 20px!important;
    padding-bottom: 20px!important;

}

.event-teaser-title:hover {
    
    color: #fff!important;
}

.event-teaser-title:focus {
    
    color: #fff;
}

#edit-title-wrapper input {
    
    width: 300px!important;
}

.event-teaser .col-lg-6 {
    
    padding: 0!important;
}

h1.page-header,
h1.pane-title {
    font-family: $font-droid-serif;
    font-weight: bold;
    font-size: 4.625em;
    color: $color-primary;
    border: 0;
}

h2.page-header,
h2.pane-title {
    font-family: $font-droid-serif;
    font-weight: bold;
    font-size: 4.25em;
    color: $section-heading-color;
    border: 0;
}

h2.pane-fb-likebox-0,
h2.pane-title {
    font-family: $font-droid-serif;
    font-weight: bold;
    font-size: 4.25em;
    color: $section-heading-color;
    border: 0;
}


.node-event-calendar {
    
    margin-bottom: 30px;
}

.event-teaser {
    h2.page-header,
    h2.pane-title {
        font-family: $font-droid-serif;
        font-weight: bold;
        font-size: 4.625em;
        color: $section-heading-color;
        border: 0;
    }
}

h3.pane-title {
    font-weight: bold;
    font-size: 1.25em;
    text-transform: uppercase;
    color: $color-font-dark-secondary;
}

p {
    font-size: 1.5em;
}

.content {
    background-color: $body-bg-secondary;
}

.instagram-image {
    img {
        height: 200px;
    }
}

.full-width {
    background: $color-grey-background;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-control {
    border: none!important;
    height: 45px;
    box-shadow: none!important;
    text-indent: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.date-month {
    border-radius: 0px!important;
    text-indent: 10px!important;
    padding: 0!important;
    width: 50px;
    padding-left: 0!important;
}

.date-day {
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    text-indent: 8px!important;
    width: 50px;
    padding-right: 0!important;
}

.date-year {
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    padding-right: 100px;
    text-indent: 10px!important;
    padding-left: 0!important;
}

#edit-event-calendar-date-value-1-value-year,
#edit-event-calendar-date-value-value-year {
    width: 148px!important;
}

#edit-event-calendar-date-value-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-item-body-value input {
    width: 300px;
}

.form-item-event-calendar-date-value-1-value-year .date-year {
    padding-right: 20px;
}

#edit-event-calendar-date-value-1-value {
    width: 100%;
    display: flex;
}

#edit-event-calendar-date-value-1-wrapper {
    padding: 0!important;
}

.views-widget-filter-event_calendar_date_value select {
    background: none;
    border: 2px solid #fff!important;
}

.views-widget-filter-event_calendar_date_value .date-day {
    border-right: none!important;
}

.views-widget-filter-event_calendar_date_value .date-month {
    border-right: none!important;
}

.container-inline-date .form-item input,
.container-inline-date .form-item select,
.container-inline-date .form-item option {
    margin: 0!important;
}

.form-item-event-calendar-date-value-value-date input {
    
    background: none!important;
    border: 2px solid #fff!important;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------
// --------------------------------------------------
// Responsive
// --------------------------------------------------
// Mobile - and up
@include media-breakpoint-up(xs) {
    // Page layout
    .content-inner {
        padding-top: $xs-page-layout-content-inner-padding-top;
        padding-bottom: $xs-page-layout-content-inner-padding-bottom;
    }
}

// Mobile - only
@include media-breakpoint-only(xs) {
    // Page layout
    .content-inner {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {
    // Page layout
    .content-inner {
        padding-top: $sm-page-layout-content-inner-padding-top;
        padding-bottom: $sm-page-layout-content-inner-padding-bottom;
    }
}

// Tablet - only
@include media-breakpoint-only(sm) {
    // Page layout
    .content-inner {}
}

// Desktop - and up
@include media-breakpoint-up(md) {
    // Page layout
    .content-inner {
        padding-top: $md-page-layout-content-inner-padding-top;
        padding-bottom: $md-page-layout-content-inner-padding-bottom;
    }
}

// Desktop - only
@include media-breakpoint-only(md) {
    // Page layout
    .content-inner {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
    // Page layout
    .content-inner {}
}

// Print
@media print {
    // Page layout
    .content-inner {}
}

// Touch
.touchevents {
    // Page layout
    .content-inner {}
}

// No touch
.no-touchevents {
    // Page layout
    .content-inner {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------
// Page layout mixin
@mixin content-mixin-inner() {}

//
//@media only screen and (max-width : 780px) {
//    
//    tr {
//        
//        display: flex;
//        flex-direction: column;
//    }
//    
//       .event-teaser {
//    
//    width: 310px!important;
//    height: 130px!important;
//}
//    
//    .views-exposed-widgets {
//        
//        flex-direction: column!important;
//    }
//    
//    #edit-event-calendar-date-value2-wrapper {
//        
//        width: 100%;
//        display: flex;
//    }
//    
//    #edit-title-wrapper {
//        
//        margin-bottom: 6px;
//    }
//    
//}
//
//@media only screen and (max-width : 980px) {
//    
//    .event-teaser {
//    
//    width: 280px!important;
//    height: 120px!important;
//}
//    
//}
//
//@media only screen and (max-width : 1024px) {
//    
//    .event-teaser {
//    
//    width: 310px;
//    height: 130px;
//}
//    
//}
//
//@media only screen and (max-width : 1180px) {
//    
//    .event-teaser {
//    
//    width: 260px!important;
//    height: 180px!important;
//}
//    
//}
//
//@media only screen and (max-width : 1280px) {
//    
//    .event-teaser {
//    
//    width: 180px!important;
//    height: 130px!important;
//}
//    
//}
//
//@media only screen and (max-width : 1424px) {
//    
//    .event-teaser {
//    
//    width: 360px;
//    height: 180px;
//}
//    
//}


@media only screen and (max-width: 1023px) {
    
    .event-teaser {
        
        width: 80vw;
        height: 40vh;
    }
    
    tr {
      
     display: flex;
      flex-direction: column;
 }
    
    .views-exposed-widgets {
   flex-direction: column!important;
    }
}
