.view-os2web-events-slideshow-footer {
  .views-field-title,
  .views-field-body,
  .views-field-view-node {
    max-width: 45%;
    color: #FFF;
  }
  .views-field-title .h1 {
    color: #FFF;
    margin-top: 60px;
  }
}
