/**
 * Admin CSS styles for the paragraphs module.
 */
td.paragraph-bundle-content-collapsible {
  position: relative;
}

td.paragraph-bundle-content-collapsible > .paragraph-bundle-title,
td.paragraph-bundle-content-collapsible > .ajax-new-content > .paragraph-bundle-title {
  cursor: pointer;
  background: url(images/expanded.png) 5px 65% no-repeat; /* LTR */
  padding-left: 15px; /* LTR */
}

td.paragraph-bundle-content-collapsible.collapsed > .paragraph-bundle-title,
td.paragraph-bundle-content-collapsible.collapsed > .ajax-new-content > .paragraph-bundle-title {
  background-image: url(images/collapsed.png); /* LTR */
  background-position: 5px 50%; /* LTR */
}

td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.collapsed > :not(.paragraph-bundle-content-collapsible-shown),
td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.collapsed > .ajax-new-content > :not(.paragraph-bundle-content-collapsible-shown) {
  display: none;
}

td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.expanded > .form-actions .paragraphs-edit-link,
td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.expanded > .ajax-new-content > .form-actions .paragraphs-edit-link {
  display: none;
}

td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.collapsed > .form-actions .paragraphs-collapse-link,
td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.collapsed > .ajax-new-content > .form-actions .paragraphs-collapse-link {
  display: none;
}

td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.removed > .form-actions .paragraphs-action-link,
td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.removed > .ajax-new-content > .form-actions .paragraphs-action-link {
  display: none;
}

td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.expanded > .paragraph-bundle-preview,
td.paragraph-bundle-content-open.paragraph-bundle-content-collapsible.expanded > .ajax-new-content > .paragraph-bundle-preview {
  display: none;
}
