$color-primary: #0f2846;
$color-font-light: #e0ded4;
$color-font-dark: #333333;
$color-font-dark-secondary: #666666;
$color-focus: #ff0060;
$color-focus-secondary: #00beff;

$color-btn-primary: $color-focus;
$color-btn-secondary: #12bb76;

$color-font-grey: #cccccc
/*#0f2846
#205692
#2f6783
#e0ded4

#c15d6f
#a3283e
#692330

#666666
#999999

#eeeeee*/