$color-primary: #0f2846;
$color-font-light: #e0ded4;
$color-font-dark: #205692;
$color-font-dark-secondary: #666666;
$color-focus: #ff0060;
$color-focus-secondary: #00beff;

$color-btn: #a3283e;
$color-btn-hover: #c15d6f;



$color-light-background: #ffffff;
$color-light-header: #999999;

$color-btn-primary: $color-focus;
$color-btn-secondary: #12bb76;

$color-font-grey-1: #666666;
$color-font-grey-2: #999999;
$color-font-grey-3: #cccccc;
$color-font-grey-4: #eeeeee;

/*#0f2846

#2f6783
#e0ded4

#c15d6f
#a3283e
#692330

#666666
#999999

#eeeeee*/