// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .footer
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Footer
footer.footer {
  background-color: $color-primary;
  color: $color-font-light;
  margin: 0;

  section {
    margin-bottom: 20px;
  }
  h2.block-title {
    margin-top: 0;
    font-size: 1.5em;
    font-family: $font-roboto-slab;
    color: $color-focus-secondary;
  }

  .menu {
    li {
      padding: 3px 0;
    }
    a {
      color: $color-font-light;
      background: none;
      display: inline;
      padding: 0;
    }
  }

  a.block-image-links__link {
    display: block;
  }

  .block-contact {
    div {
      margin-bottom: 10px;
      p {
        margin-bottom: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  footer.footer {
    > .container {
      padding-top: 38px;
      padding-bottom: 29px;
    }

    a.block-image-links__link {
      margin-bottom: 20px;
      img {
        height: 43px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Footer
  .footer {
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {
  footer.footer {
    > .container {
      padding-top: 44px;
    }
    a.block-image-links__link {
      margin-bottom: 35px;
      img {
        height: 50px;
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Footer
  .footer {
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Footer
  .footer {
  }

}

// Desktop - only
@include media-breakpoint-only(md) {

  // Footer
  .footer {
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Footer
  .footer {
  }
}

// Print
@media print {

  // Footer
  .footer {
  }
}

// Touch
.touchevents {

  // Footer
  .footer {
  }
}

// No touch
.no-touchevents {

  // Footer
  .footer {
  }
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Footer mixin
@mixin footer-mixin() {
}
