.form-control {
  // Remove inline shadow on iOS (https://stackoverflow.com/questions/23211656/remove-ios-input-shadow)
  appearance: none;

  &,
  &:focus {
    @include box-shadow(none);
  }
}

// Hides EU cookie notice inside the app
.inAppBrowserWrap,
.platform-browser {

  #sliding-popup {
    display: none !important;
  }
}

.inAppBrowserWrap {
  .see-classes {
    background-color: blue;
  }
}

.icon.glyphicon {
  @extend .glyphicon;
}
