.form-control {
  // Remove inline shadow on iOS (https://stackoverflow.com/questions/23211656/remove-ios-input-shadow)
  appearance: none;

  &,
  &:focus {
    @include box-shadow(none);
  }
}

// Hides EU cookie notice inside the app
.from-webapp {

  #sliding-popup {
    display: none !important;
  }

/*  .addtocalendar {
    display: none !important;
  }*/
}

.icon.glyphicon {
  @extend .glyphicon;
}

.addtocalendar {
  z-index: auto !important;
}

.addthisevent_dropdown {
  z-index: ($zindex-modal - 10) !important;
}
