// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .content-inner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-page-layout-content-inner-padding-top: 20px;
$sm-page-layout-content-inner-padding-top: 30px;
$md-page-layout-content-inner-padding-top: 40px;

$xs-page-layout-content-inner-padding-bottom: 25px;
$sm-page-layout-content-inner-padding-bottom: 40px;
$md-page-layout-content-inner-padding-bottom: 60px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Page layout
body {
  font-family: $font-lato;
  font-weight: normal;
  color: $color-font-dark;
}

h1.page-header,
h1.pane-title {
  font-family: $font-roboto-slab;
  font-weight: bold;
  font-size: 3.375em;
  color: $color-primary;
  border: 0;
}

h2.pane-title {
  font-family: $font-roboto-slab;
  font-weight: lighter;
  font-size: 3em;
  color: $color-primary;
  margin-bottom: 30px;
}

h3.pane-title {
  font-weight: bold;
  font-size: 1.25em;
  text-transform: uppercase;
  color: $color-font-dark-secondary;
}

.breadcrumb {
  background: none;
  padding-left: 0;
}

.panel-pane {
}

// --------------------------------------------------
// Variants
// --------------------------------------------------
.panel-pane {
  &.panel-pane--title-pinned{
    .pane-title {
      font-family: $font-roboto-slab;
      text-transform: none;
      font-size: 2em;
      font-weight: normal;
      color: white;
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      top: -1.75em;
      background-color: $color-focus-secondary;
      padding: 10px 40px 10px 75px;
      border-radius: 30px;
      background-image: url('../img/icon-pin.png');
      background-repeat: no-repeat;
      background-position: 40px center;
    }
    .pane-content {
      margin-top: -3.85em;
    }
  }

  &.panel-pane--full-width{
    margin-right: -9999rem;
    margin-left: -9999rem;
    /* add back negative margin value */
    padding: 30px 9999rem;
    background: $color-background-secondary;
    border-bottom: 2px solid $color-background-tertiary;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

h2.pane-title--lifted {
  top: -65px;
  position: relative;
  margin-bottom: -50px;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Page layout
  .content-inner {
    padding-top: $xs-page-layout-content-inner-padding-top;
    padding-bottom: $xs-page-layout-content-inner-padding-bottom;
  }

  .row .content-top {
    margin-bottom: 10px;
  }

  h1.page-header,
  h1.pane-title {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Page layout
  .content-inner {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Page layout
  .content-inner {
    padding-top: $sm-page-layout-content-inner-padding-top;
    padding-bottom: $sm-page-layout-content-inner-padding-bottom;
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Page layout
  .content-inner {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Page layout
  .content-inner {
    padding-top: $md-page-layout-content-inner-padding-top;
    padding-bottom: $md-page-layout-content-inner-padding-bottom;
  }

  .row .content-top {
    margin-bottom: 30px;
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Page layout
  .content-inner {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Page layout
  .content-inner {}
}

// Print
@media print {

  // Page layout
  .content-inner {}
}

// Touch
.touchevents {

  // Page layout
  .content-inner {}
}

// No touch
.no-touchevents {

  // Page layout
  .content-inner {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Page layout mixin
@mixin content-mixin-inner() {}
