// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .content-inner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-page-layout-content-inner-padding-top: 20px;
$sm-page-layout-content-inner-padding-top: 30px;
$md-page-layout-content-inner-padding-top: 40px;

$xs-page-layout-content-inner-padding-bottom: 25px;
$sm-page-layout-content-inner-padding-bottom: 40px;
$md-page-layout-content-inner-padding-bottom: 60px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Page layout
body {
  font-family: $font-lato;
  font-weight: normal;
  color: $color-font-dark;
}

h1.page-header,
h1.pane-title {
  font-family: $font-roboto-slab;
  font-weight: bold;
  font-size: 2.5em;
  color: $color-primary;
  border: 0;
}

h2.pane-title {
  font-family: $font-roboto-slab;
  font-weight: lighter;
  font-size: 2.125em;
  color: $color-primary;
  //margin-bottom: 30px;
}

h3.pane-title {
  font-weight: bold;
  font-size: 1.25em;
  text-transform: uppercase;
  color: $color-font-dark-secondary;
}

.breadcrumb {
  background: none;
  padding-left: 0;
}

.panel-pane {
}

.search-and-title{
  padding-top: 0px;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------
.panel-pane {
  &.panel-pane--title-pinned{
    .pane-title {
      font-family: $font-roboto-slab;
      text-transform: none;
      font-size: 1.31em;
      font-weight: normal;
      color: white;
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      top: -2.6em;
      background-color: $color-focus-secondary;
      padding: 10px 40px 10px 75px;
      border-radius: 30px;
      background-image: url('../img/icon-pin.png');
      background-repeat: no-repeat;
      background-position: 40px center;
    }
    .pane-content {
      margin-top: -3.85em;
    }
  }

  &.panel-pane--title-kulturnaut {
    .pane-title {
      font-family: $font-roboto-slab;
      text-transform: none;
      font-size: 1em;
      font-weight: normal;
      color: white;
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      top: -3.6em;
      width: 100%;
      text-align: center;

      background-color: $color-focus-tertiary;
      padding: 10px 30px 10px 30px;
      border-radius: 30px;

      img {
        outline: none;
        top: -2px;
        position: relative;
        height: 13px;
      }
    }

    .pane-content {
      margin-top: -3.85em;
    }
  }

  &.panel-pane--full-width{
    margin-right: -9999rem;
    margin-left: -9999rem;
    /* add back negative margin value */
    padding: 30px 9999rem 10px;
    background: $color-background-secondary;
    border-bottom: 2px solid $color-background-tertiary;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &.panel-pane--full-width.pane-os2web-kulturnaut-events-lists-pane-activities-list-4-mini{
    margin-right: -9999rem;
    margin-left: -9999rem;
    /* add back negative margin value */
    padding: 30px 9999rem;
    background: $color-background-secondary;
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

h2.pane-title--lifted {
  top: -65px;
  position: relative;
  margin-bottom: -50px;
  padding-bottom: 15px;
}

.simple-gmap-static-map{
  margin-top: 10px;
  margin-bottom: 10px;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Page layout
  .content-inner {
    padding-top: $xs-page-layout-content-inner-padding-top;
    padding-bottom: $xs-page-layout-content-inner-padding-bottom;
  }

  .row .content-top {
    margin-bottom: 10px;
  }

  h1.page-header,
  h1.pane-title {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Page layout

}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Page layout
  .content-inner {
    padding-top: $sm-page-layout-content-inner-padding-top;
    padding-bottom: $sm-page-layout-content-inner-padding-bottom;
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Page layout
  .content-inner {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Page layout
  .content-inner {
    padding-top: $md-page-layout-content-inner-padding-top;
    padding-bottom: $md-page-layout-content-inner-padding-bottom;
  }

  .row .content-top {
    margin-bottom: 30px;
  }
  h2.pane-title {
    font-size: 3em;
  }

  .search-and-title{
    padding-top: 19px;
  }



  .panel-pane {
    &.panel-pane--title-pinned{
      .pane-title {
        font-size: 2em;
        top: -1.75em;
      }
    }
    &.panel-pane--title-kulturnaut {
      .pane-title {
        font-size: 1.625em;
        top: -2.2em;
        width: auto;

        img {
          top: -4px;
          position: relative;
          height: 21px;
        }
      }
    }
  }
  h1.page-header,
  h1.pane-title {
    font-family: $font-roboto-slab;
    font-weight: bold;
    font-size: 3.375em;
    color: $color-primary;
    border: 0;
  }
  .vertical-line{
    border-width: 0 1px 0 0;
    border-color: $color-background-secondary;
    border-style: solid;
    padding-right: 40px;
  }
  #details{
    display: block !important;
  }
  .node--os2web_kulturnaut_knactivity--full{
    & .field.field-name-field-os2web-kulturnaut-date.field-type-datetime{
      & span.date-display-single{
        display: block;
        margin-top: 25px;
        margin-bottom: 30px;
      }
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Page layout
  .content-inner {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Page layout
  .content-inner {}
}

// Print
@media print {

  // Page layout
  .content-inner {}
}

// Touch
.touchevents {

  // Page layout
  .content-inner {}
}

// No touch
.no-touchevents {

  // Page layout
  .content-inner {}
}
.kultunaut {
  h1.page-header {
    // margin-left: 100px;
    span {
      display: block;
      background: url('../img/logo_kultunaut.png') no-repeat;
      width: 190px;
      height: 19px;
    }
  }
}
// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Page layout mixin
@mixin content-mixin-inner() {}
