// |--------------------------------------------------------------------------
// | Prefooter
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .prefooter
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.prefooter {
  .prefooter__block {
    padding-top: 10px;
    padding-bottom: 0px;
    h2.pane-title {
      margin-top: 4px;
      margin-bottom: 15px;
    }
  }

  h2 .focus {
    color: $color-focus;
    font-weight: normal;
  }
  .view-os2web-taxonomies-tax-editor-tag-list .item-list {
    ul {
      padding: 0;
      li {
        display: none;
        list-style: none;
        //display: inline-block;
        margin-right: 15px;
        margin-bottom: 13px;
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          display: inline-block;
        }

        a {
          display: block;
          padding: 7px 40px;
          background-color: $color-background-secondary;
          border-radius: 30px;
          font-size: 1.31em;
          color: $color-focus;
          text-decoration: none;
          &:hover, &:active {
            background-color: $color-focus;
            color: white;
          }
        }
      }
    }
  }
}

.page-node {
  & .prefooter {
    background-color: $color-background-secondary;
    margin-top: 20px;
    .view-os2web-taxonomies-tax-editor-tag-list .item-list {
      ul {
        a {
          background-color: white;
        }
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------
// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
  .prefooter {
    .prefooter__block {
      padding-top: 55px;
      padding-bottom: 30px;
      &:last-child {
        border-left: 4px solid $color-background-secondary;
      }
      h2.pane-title {
        margin-top: 4px;
        margin-bottom: 35px;
      }
      .prefooter__block-inner--left {
        padding-right: 50px;
      }
      .prefooter__block-inner--right {
        padding-left: 50px;
      }
    }

    .view-os2web-taxonomies-tax-editor-tag-list .item-list {
      ul {
        li {
          display: inline-block;
        }
      }
    }
  }

  .page-node {
    .prefooter__block {
      &:last-child {
        border-left: 4px solid white;
      }
    }
  }
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------
