// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.node-teaser {
  &.node-os2web-kulturnaut-knactivity {
    header h2 {
      font-size: 1.56em;
      color: white;
      margin-bottom: 3px;
    }
    .field-name-field-os2web-kulturnaut-date {
      font-size: 0.94em;
      color: $color-focus-secondary;
      font-weight: bold;
    }
    .field-name-field-os2web-kulturnaut-sname {
      font-size: 1em;
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
    }

    .upper-part {
      padding: 15px;
      position: absolute;
      top: 0;
    }
    .bottom-part {
      padding: 15px;
      position: absolute;
      bottom: 0;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Teaser
  .node-teaser {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Teaser
  .node-teaser {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Teaser
  .node-teaser {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Teaser
  .node-teaser {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Teaser
  .node-teaser {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Teaser
  .node-teaser {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Teaser
  .node-teaser {}
}

// Print
@media print {

  // Teaser
  .node-teaser {}
}

// Touch
.touchevents {

  // Teaser
  .node-teaser {}
}

// No touch
.no-touchevents {

  // Teaser
  .node-teaser {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser mixin
@mixin node-mixin-teaser() {}
