// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------
.node-os2web-kulturnaut-knactivity,
.contextual-links-region,
.iew-mode-os2sub_teaser_mini,
.node--os2web_kulturnaut_knactivity--os2sub_teaser_mini{
  img {
    outline: 1px solid $color-background-primary;
  }
  word-break: break-word;
  margin-bottom: 20px;
  header h3{
    color: background;
    font-size: 1,5em;
    //font-family: RobotoSlab;
    font-weight: normal;
    margin-bottom: 3px;
  }
  .link{
    &.show-more {
      a {
        color: $color-focus;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
.contextual-links-region{
  margin-bottom: 0px;
}
.pair-4-mini{
  float: left;
}
// Teaser


// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Teaser
  .node-teaser {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Teaser
  .node-teaser {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Teaser
  .node-teaser {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Teaser
  .node-teaser {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Teaser
  .node-teaser {}
  .pair-4-mini{
    float: none;
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Teaser
  .node-teaser {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Teaser
  .node-teaser {}
}

// Print
@media print {

  // Teaser
  .node-teaser {}
}

// Touch
.touchevents {

  // Teaser
  .node-teaser {}
}

// No touch
.no-touchevents {

  // Teaser
  .node-teaser {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser mixin
@mixin node-mixin-teaser() {}
