// |--------------------------------------------------------------------------
// | fic-header-banners
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-fic-header-banners
// |
// --------------------------------------------------
// Variables
// --------------------------------------------------
$desktop-width-2buttons: 570px;
$desktop-width-3buttons: 370px;
$desktop-width-4buttons: 270px;
$desktop-width-5buttons: 210px;
$desktop-width-6buttons: 170px;

$desktop-margin-default: 30px;

// --------------------------------------------------
// Styling
// --------------------------------------------------
.term-fic-header {
  @include container-fixed();
  font-family: $font-rbn021a;
  position: relative;

  .views-slideshow-cycle-main-frame {
    height: 100% !important;
    position: static !important;
  }

  .views-slideshow-cycle-main-frame-row {
    position: static !important;
    height: 100% !important;
  }

  .views_slideshow_main {
    height: 372px;
    overflow: hidden;
  }

  .views-row {
    height: 100%;
  }

  .view-mode-fic_header {
    height: 100%;
    width: 100%;
  }

  .slide-content-wrapper {
    text-align: center;

    .field-name-description-field,
    .field-name-field-os2web-base-field-summary {
      color: $color-white;
      font-size: 4em;
      line-height: 1.15em;
      text-shadow: 1px 1px rgba(0, 0, 0, .75);
    }

    .field-name-field-os2web-base-field-ext-link {
      .field-item {
        display: inline-block;
        margin: 20px 10px;

        a {
          padding: 10px;
          display: block;
          font-size: 1em;
          font-family: sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          color: $color-white;
          background-color: $color-blue;
          min-width: 185px;

          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }

  .views-slideshow-controls-bottom,
  .field-name-field-os2web-base-field-related {
    > div {
      margin-bottom: 80px;
      height: 80px;
      overflow: hidden;
    }

    div,
    li {
      display: inline-block;
    }

    a {
      font-size: 1.7em;
      line-height: 1em;
      text-transform: uppercase;
      display: block;
      background: $color-white;
      color: $color-black;
      position: relative;
      text-decoration: none;
      width: 1170px;
      border: 5px solid $color-white;
      overflow: hidden;
      height: 80px;

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 40px 0 10px;
      }

      &:hover {
        background: $color-red;
        color: $color-white;
      }

      &::after {
        content: '›';
        display: block;
        height: 31px;
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 1.4em;
        font-family: "sans-serif";
      }
    }

    .views-slideshow-pager-field-item,
    .field-item {
      margin-right: $desktop-margin-default;

      &.views-row-first {
        display: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .views-slideshow-pager-fields > div {
      padding: 0;
    }
  }

  .views-slideshow-controls-bottom {
    font-size: 0;

    .views-slideshow-pager-field-item {
      font-size: 14px;
    }
  }

  .slide-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;

    .blue-block {
      background-color: $color-blue;
      height: 60px;
      width: 100%;

      a {
        display: block;
      }

      .text {
        color: $color-white;
        font-size: 2em;
        padding: 10px 10px 10px 17px;
        display: inline-block;
      }

      .read-more {
        color: $color-black;
        text-decoration: none;
        float: right;
        display: block;
        padding: 20px;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: bold;
      }
    }

    .contact.modal-link {
      display: block;
      width: 100%;
      height: 100%;
      background-color: $color-red;
      color: $color-white;
      padding: 10px 0;
      text-align: center;
      font-size: 2em;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

.scroll-down {
  &-link {
    text-align: center;
    display: none;
    padding: 50px 0;

    .page-taxonomy-term & {
      display: block;
    }

    span {
      display: inline-block;
      height: 60px;
      width: 60px;
      background-image: url('../img/lookdown.png');
      background-repeat: no-repeat;
    }
  }
}

.page-taxonomy {
  .view-mode-fic_header {
    display: table;
  }

  .slide-content-wrapper {
    vertical-align: middle;
    display: table-cell;
  }
}

.term-fic-header {
  .num-slides {
    &-3 .views-slideshow-controls-bottom a {
      width: $desktop-width-2buttons;
    }

    &-4 .views-slideshow-controls-bottom a {
      width: $desktop-width-3buttons;
    }

    &-5 .views-slideshow-controls-bottom a {
      width: $desktop-width-4buttons;
    }

    &-6 .views-slideshow-controls-bottom a {
      width: $desktop-width-5buttons;
    }

    &-7 .views-slideshow-controls-bottom a {
      width: $desktop-width-6buttons;
    }
  }

  .num-items {
    &-2 a {
      width: $desktop-width-2buttons;
    }

    &-3 a {
      width: $desktop-width-3buttons;
    }

    &-4 a {
      width: $desktop-width-4buttons;
    }

    &-5 a {
      width: $desktop-width-5buttons;
    }

    &-6 a {
      width: $desktop-width-6buttons;
    }
  }
}

.node-type-os2web-base-contentpage {
  .page-header-wrapper {
    margin-bottom: 30px;
  }

  .term-fic-header {
    .slide-bottom {
      bottom: -30px;
    }
  }

  .slide-content-wrapper {
    margin: 30px 0 110px;
  }
}


// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {


}
// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {



}

// Tablet - only
@include media-breakpoint-only(sm) {


  .social-icons {}
}

// Desktop - and up
@include media-breakpoint-up(md) {


}

// Desktop - only
@include media-breakpoint-only(md) {

  .front .term-fic-header {
    .views-slideshow-controls-bottom {
      a {
        width: 132px;
        font-size: 1.2em;
        padding: 0 12px 0 20px;
      }
    }
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Social icons
  .social-icons {}
}

// No touch
.no-touchevents {

}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

