// |--------------------------------------------------------------------------
// | Header
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .header
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.region-header {
  @include make-row;
}
.page-header-wrapper {
  z-index: 1 !important;
}
.not-front .page-header-wrapper {
  background-image: url('../img/topbg.png');
  background-repeat: repeat-x;
}
#views-exposed-form-os2sub-kulturnaut-multi-search-pane-activities-multi-search,
form.search-form{
  height: 60px;
  input.form-control.form-text{
    height: 60px;
    font-size: 1.5em;
    font-family: $headings-font-family;
    color: #fff;
    box-shadow: none;
    &::placeholder{
      color: #fff;
    }
  }
  .views-exposed-widgets{
    position: relative;
    .views-exposed-widget.views-widget-filter-search_api_views_fulltext{
      padding: 0;
      width: 241px;
    }
    .views-exposed-widget.views-submit-button{
      position: absolute;
      right: 0;
      font-size: 0;
      top: 6px;
      & button{
        box-shadow: none;
        padding: 10px !important;
        width: 60px !important;
        outline: none;
        &:active, &:hover, &:focus{
          color: $gray-dark;
        }
        &:after{
          content: "\e003";
          font-size: 20px;
          font-family: 'Glyphicons Halflings';

        }
      }
    }
  }
}
section.block-locale{
  float: left;
  button.lang-buton{
    text-transform: uppercase;
    border: none;
    background: none;
    font-size: 0.75em;
    color: #fff;
    &:after{
      content:'';
      color: $brand-primary;
      font: normal normal normal 14px/1 FontAwesome;
      border: none;
    }
    &:focus {
      outline: none;
    }
  }
  .dropdown-menu{
    min-width: auto;
    border: none;
    border-radius: unset;
    top: auto;
    ul.language-switcher-locale-url{
      padding: 0px 10px;
      li{
        list-style: none;
        a{
          font-size: 0.75em;
          text-transform: uppercase;
          text-decoration: none;
          background-color: #fff;
          color: $gray-darker;
          &:active, &:hover, &:focus{
            color: $brand-primary;
          }
        }
      }
    }
  }
}
.logo-wrapper .logo img {
  max-width: 100%;
  height: auto;
}
header.page-header-wrapper{
  .backstretch{
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, black, transparent);
    }
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {
  //trick to mane menu clickable on the front page because of background slideshow

}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Header mixin
@mixin header-mixin() {
}
