// |--------------------------------------------------------------------------
// | Header
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .header
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.region-header {
  @include make-row;
}

.scroll-down {
  &-link {
    text-align: center;
    display: block;
    padding: 50px 0;

    span {
      display: inline-block;
      height: 60px;
      width: 60px;
      background-image: url('../img/lookdown.png');
      background-repeat: no-repeat;
    }
  }
}

form.search-form{
  height: 60px;
  input.form-control.form-text{
    height: 60px;
    font-size: 1.5em;
    font-family: $headings-font-family;
    color: #fff;
    box-shadow: none;
    &::placeholder{
      color: #fff;
    }
  }
  button{
    box-shadow: none;
    padding: 10px !important;
    width: 60px !important;
    &:active, &:hover, &:focus{
      color: $gray-dark;
    }
    span{
      font-size: 20px;
      font-family: 'Glyphicons Halflings';
    }
  }
}

section.block-locale{
  button.lang-buton{
    text-transform: uppercase;
    border: none;
    background: none;
    font-size: 0.75em;
    color: #fff;
    &:after{
      content:'ÔÅ∏';
      color: $brand-primary;
      font: normal normal normal 14px/1 FontAwesome;
      border: none;
    }
  }
  .dropdown-menu{
    min-width: auto;
    border: none;
    border-radius: unset; 
    top: auto;
    ul.language-switcher-locale-url{
      padding: 0px 10px;
      li{
        list-style: none;
        a{
          font-size: 0.75em;
          text-transform: uppercase;
          text-decoration: none;
          background-color: #fff;
          color: $gray-darker;
          &:active, &:hover, &:focus{
            color: $brand-primary;
          }
        }
      }
    }
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Header
  .header {
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {

}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Header
  .header {
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {
  //trick to mane menu clickable on the front page because of background slideshow

}

// Desktop - only
@include media-breakpoint-only(md) {

}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Header
  .header {
  }
}

// Print
@media print {

  // Header
  .header {
  }
}

// Touch
.touchevents {

  // Header
  .header {
  }
}

// No touch
.no-touchevents {

  // Header
  .header {
  }
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Header mixin
@mixin header-mixin() {
}
