// |--------------------------------------------------------------------------
// | Navigation
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .navigation-wrapper
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$navigation-wrapper-bg-color: $body-bg-secondary;

$navigation-top-padding-top-bottom: 15px;

$navigation-bottom-border-width: 4px;
$navigation-bottom-border-color: #fff;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Navigation
nav.navbar-default{
  .navbar-brand {
    background-color: #FFF;
    margin-right: 30px;
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  ul.navbar-nav{
    float: right;
    margin-right: 50px;
    padding: 5px 5px;
    line-height: 30px;
    font-size: 15px;
    font-family: $headings-font-family;

    > li {
      a{
        padding: $navigation-top-padding-top-bottom;
        font-size: 1.4em;
      }
      > a {

        &.active, &.active-trail{
          background-color: $brand-primary;
          color: #fff;
          &:active, &:hover, &:focus{
            background-color: $brand-primary;
            color: #fff;
          }
        }
      }

      a, &.open a{

        color: $gray-dark;
        background-color: #fff;
        &:active, &:hover, &:focus{
          background-color: $brand-primary;
          color: #fff;
        }
      }
    }
  }

  ul.dropdown-menu{
    border: none;
    padding: 0;
    li{
      a{
        &:active, &:hover, &:focus{
          color: $brand-primary;
        }
      }
      a.active{
        color: $brand-primary;
        &>:active, &>:hover, &>:focus{
          background-color: $brand-primary;
        }
      }
    }
    li:nth-child(even){
      a{
        background-color: #fff;
        &:active, &:hover, &:focus{
          color: $brand-primary;
          background-color: #fff;
        }
      }
    }
    li:nth-child(odd){
      a{
        background-color: lightgray;
        &:active, &:hover, &:focus{
          color: $brand-primary;
          background-color: lightgray;
        }
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Navigation
  .navigation-wrapper {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Navigation
  .navigation-wrapper {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Navigation
  .navigation-wrapper {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Navigation
  .navigation-wrapper {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Navigation
  .navigation-wrapper {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Navigation
  .navigation-wrapper {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Navigation
  .navigation-wrapper {}
}

// Print
@media print {

  // Navigation
  .navigation-wrapper {}
}

// Touch
.touchevents {

  // Navigation
  .navigation-wrapper {}
}

// No touch
.no-touchevents {

  // Navigation
  .navigation-wrapper {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Navigation mixin
@mixin mixin-navigation-wrapper() {}
