// |--------------------------------------------------------------------------
// | Navigation bar
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .navigation-bar
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin navigation-bar-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.navigation-bar {

  ul {
    @include list-unstyled;
  }
}
.navigation-bar__inner {
  background-color: $brand-primary;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  .navigation-bar {
    @include container-fixed;
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .navigation-bar {
    @include container-fixed;

    width: $container-sm;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  // Only show on section pages (ex. FICNESS)
  .page-taxonomy-term {

    .navigation-bar {
      display: block;
    }
  }

  .navigation-bar {
    display: none;

    ul {

      > li {
        display: inline-block;

        margin: 0;

        > a {
          padding: 35px 50px;

          font-family: $headings-font-family;
          font-size: 18px;
          text-transform: uppercase;
          color: #fff;

          &.active, &.active-trail,
          &:hover, &:active {
            background-color: $brand-primary;
          }
        }
      }
    }
  }

  .navigation-bar__inner {
    text-align: center;

    background-color: $color-black;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}