.form-control {
  font-size: $font-size-large;

  // Remove inline shadow on iOS (https://stackoverflow.com/questions/23211656/remove-ios-input-shadow)
  appearance: none;

  &,
  &:focus {
    @include box-shadow(none);
  }
}

.sidr-main-open {
  position: absolute !important;
}
