// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .content-inner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-page-layout-content-inner-padding-top: 20px;
$sm-page-layout-content-inner-padding-top: 30px;
$md-page-layout-content-inner-padding-top: 40px;

$xs-page-layout-content-inner-padding-bottom: 25px;
$sm-page-layout-content-inner-padding-bottom: 40px;
$md-page-layout-content-inner-padding-bottom: 60px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Page layout

.breadcrumb {
  a{
    color: $gray-light;
  }
  background: none;
  padding-left: 0;
  .active{
    color: $brand-secondary;
  }
}

.search-and-title{
  padding-top: 0px;
}

/*Some flex panel tweaks start*/
.panels-flexible-region-1-center{
  width: 100% !important;
}
.panel-separator{
  display: none;
}

.page-nyheder .main-container {
  @extend .bg-dark;
}

h2.pane-title {
  font-size: 50px;
  color: $color-dark-gray;
  a {
    color: $color-dark-gray;
  }
}

// The contact page (/generelle-kontaktoplysninger)
.page-node-31 {

  .modal-link {

    &.ctools-modal-contact-modal-style {
      display: none !important; // Should ONLY be hidden on this page which is why i can reason for a !important.
    }
  }
}


.page-nyheder {
  h1 {
    color: $brand-primary;
    font-size: 50px;
  }
  .view-os2sub-nyheder .view-content {
    @extend .row;
  }
}

/*Some flex panel tweaks stop*/

// Flexbox
.flexbox {

  .row--equal-height-columns {

    &:not(.view),
      > .view-content {
      display: flex;

      flex-wrap: wrap;

      > [class*='col-'] {
        display: flex;

        flex-direction: column;
      }

      // Fixes Safari issue (https://stackoverflow.com/questions/34250282/flexbox-safari-bug-flex-wrap)
      &:after,
        &:before {
        content: normal; // IE doesn't support `initial`
      }
    }
  }
}
.menu-block-wrapper.menu-block-ctools-main-menu-1.menu-name-main-menu.parent-mlid-0.menu-level-2{
  li{
    a{
      color: $color-black;
      font-family: $headings-font-family;
      font-size: 1.75em;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  li.active{
    a{
      color: $brand-secondary;
    }
  }
}
.os2-sectiont{
  .col-sm-9{
    border-left: solid 1px #ccc;
  }
}
.modal-content.popups-body{
  background-color: #fff;
}

blockquote.bq-fic {
  border: 0;
  text-align: center;
  font-size: 2em;
  font-family: $font-rbn021a;
  line-height: 1.05em;
  width: 90%;
  margin: auto;

  *, &:before, &:after {
    color: $brand-primary !important;
    display: inline;
  }

  &:before {
    content: '“';
  }

  &:after {
    content: '”';
  }
}

.img-bordered {
  border: 5px solid $color-black;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------



// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Page layout
  .content-inner {
    padding-top: $xs-page-layout-content-inner-padding-top;
    padding-bottom: $xs-page-layout-content-inner-padding-bottom;
  }

  .row .content-top {
    margin-bottom: 10px;
  }

  h1.page-header,
  h1.pane-title {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Page layout

}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Page layout
  .content-inner {
    padding-top: $sm-page-layout-content-inner-padding-top;
    padding-bottom: $sm-page-layout-content-inner-padding-bottom;
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Page layout
  .content-inner {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Page layout

}

// Desktop - only
@include media-breakpoint-only(md) {

  // Page layout
  .content-inner {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Page layout
  .content-inner {}
}

// Print
@media print {

  // Page layout
  .content-inner {}
}

// Touch
.touchevents {

  // Page layout
  .content-inner {}
}

// No touch
.no-touchevents {

  // Page layout
  .content-inner {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Page layout mixin
@mixin content-mixin-inner() {}
