// |--------------------------------------------------------------------------
// | Paragraphs
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraphs
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.bg-undefined {
  padding-top: (2* $grid-gutter-width);
  padding-bottom: (2* $grid-gutter-width);
}

.bg-white {
  @extend .bg-undefined;
  background-color: #FFF;
  .field {
    color: $gray-darker;
    border-color: $gray-darker;
  }
  &.paragraphs-item-afsnit-m-billede {
    padding-bottom: $grid-gutter-width;
  }
}

.bg-darker {
  background-color: $color-black;
  padding-top: (3* $grid-gutter-width);
  padding-bottom: (2* $grid-gutter-width);
  .field {
    color: #FFF;
    border-color: #FFF;
  }
}

.bg-dark {
  background-color: $color-dark-gray;
  padding-top: (3* $grid-gutter-width);
  padding-bottom: (2* $grid-gutter-width);
  .field {
    color: #FFF;
    border-color: #FFF;
  }
}

.bg-alternative {
  background-color: $brand-primary;
  @extend .bg-undefined;
  .field {
    color: #FFF;
    border-color: #FFF;
  }
}

.top-border.bg-white {
  padding-top: ($grid-gutter-width);

  .views-container-inner-inner {
    border-top: 2px solid $color-light-gray;
    padding-top: floor($grid-gutter-width * 1.5);
  }
}

.page-taxonomy .paragraphs-container,
.front .paragraphs-container {
  .entity-paragraphs-item .content {
    @extend .container;
  }
}

.paragraphs-items {
  .field.field-name-field-paragraph-header {
    margin-bottom: ($grid-gutter-width /2);
    text-transform: uppercase;
    font-size: 2.368em;
    font-weight: normal;
    font-family: $headings-font-family;
    line-height: 1.1em;
  }
  .aligner {
    .field.field-name-field-paragraph-header {
      margin-top: $grid-gutter-width;
    }
  }
  .field.field-name-field-paragraph-text {
    font-size: 1.25em;
    font-weight: normal;
    font-family: $font-lato;
    margin-bottom: 30px;
  }
}

.entity-paragraphs-item {

  &.paragraphs-item-fic-list-of-event-teasers {

    .paragraph__heading {}
    .paragraph__heading__title {
      padding-bottom: 20px;
      margin-bottom: 10px;

      font-size: 3.5715em;

      text-transform: initial;
    }

    .field.field-name-field-paragraph-header {
      padding: 0;
      margin: 0;

      font-size: inherit;

      text-transform: initial;
    }
  }
}

.paragraphs-item-afsnit-m-galleri {

  .field-items {
    @include make-row();
    margin-top: $grid-gutter-width;

    .field-item {
      @include make-xs-column(6);
      @include make-sm-column(4);
      margin-bottom: ($grid-gutter-width /2);

      img {
        border: $color-black solid 6px;
      }
    }
  }
}

.view-fic-embed-files.view-display-id-instagram,
.pane-instagram-billeder {

  .views-row.views-row-0 {
    display: flex;

    justify-content: center;

    padding-bottom: 30px;

    text-align: center;
  }
}

.paragraphs-item-afsnit-m-alm-tekss {

  .field.field-name-field-paragraph-text {
    font-size: inherit;
  }
}

.panel-pane.views-container.full-width .views-container-inner {
  @include container-fixed($gutter: $grid-gutter-width);
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  .view-content {
    @include make-row();
  }
}

.view-fic-embed-nodes.view-display-id-news,
.panel-pane.views-container.full-width .views-container-inner .view-id-fic_artikler .view-content {
  .views-row {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(3);

    &.views-row-first {
      @include make-md-column(6);
    }
  }
}

.node-type-os2web-base-contentpage {

  .entity-paragraphs-item {

    .paragraphs-item-header-text-media {
      @include make-row();
      .paragraph-video-container {
        .paragraph-video {
          iframe {
            height: 460px !important;
          }
        }
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------
.paragraphs-item-paragrph-address,
.paragraphs-item-paragraph-departments {

  .field.field-name-field-paragraph-text {
    font-family: $headings-font-family;
    font-size: 1.700em;
    line-height: 1.5;

    span {
      display: block;

      &.phone {
        color: $brand-primary;
      }

      &.email {

        a {
          color: $brand-secondary;
        }
      }
    }

    .field-name-field-knap-link {
      margin-top: 30px;
    }
  }
}

.paragraphs-item-paragrph-address,
.paragraphs-item-paragraph-departments,
.paragraphs-item-personale,
.paragraphs-item-webform {
  .field.field-name-field-paragraph-header {
    text-align: center;
    color: $brand-primary;
    font-size: 3.125em;
    text-transform: capitalize;
  }
}

.node {
  .field.field-name-field-afsnit.field-type-paragraphs {
    & > .field-items {
      margin-top: 60px;

      &:first-child {
        margin-top: 0;
      }
    }

    .field-item {
      .paragraphs-item {
        &-afsnit-m-billede,
        &-afsnit-m-link,
        &-afsnit-m-galleri,
        &-header-text-media,
        &-header-text-links-image,
        &-paragrph-address,
        &-paragraph-departments,
        &-personale,
        &-kolonner,
        &-webform {
          .container {
            width: inherit;
            padding: 0;
          }
        }
      }
    }
  }
}

.page-taxonomy {
  .paragraphs-item-header-text-media {
    .paragraph-video.full-width {
      iframe {
        width: 100%;
      }
    }
  }
}

.paragraphs-item-kolonner {
  .content {
    margin-bottom: 1em;

    .field-type-link-field {
      margin: 1em 0;

      a {
        width: 100%;
        padding: 10px;
      }
    }

    .field-type-image {
      img {
        border: $color-black solid 5px;
      }
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

}

// Mobile - only
@include media-breakpoint-only(xs) {

  .bg-white {
    &.paragraphs-item-afsnit-m-billede {
      padding-bottom: $grid-gutter-width;
    }
  }

  .bg-undefined,
  .bg-dark,
  .bg-darker {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .view-fic-embed-files.view-display-id-instagram,
  .pane-instagram-billeder {

    .views-row.views-row-0 {

      > a {

        img {
          margin: auto;
        }
      }
    }
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .view-fic-embed-files.view-display-id-instagram,
  .pane-instagram-billeder {

    .views-row.views-row-0 {

      > a {
        display: flex;

        flex-grow: 1;

        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Header
  .paragraphs {
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {

}

// Desktop - only
@include media-breakpoint-only(md) {

}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Header
  .paragraphs {
  }
}

// Print
@media print {

  // Header
  .paragraphs {
  }
}

// Touch
.touchevents {

  // Header
  .paragraphs {
  }
}

// No touch
.no-touchevents {

  // Header
  .paragraphs {
  }
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Header mixin
@mixin paragraphs-mixin() {
}
