// |--------------------------------------------------------------------------
// | Paragraphs
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraphs
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.bg-white {
  background-color: #FFF;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  .field{
    color: $gray-darker;
    border-color: $gray-darker;
  }
}
.bg-darker {
  background-color: $gray-darker;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  .field{
    color: #FFF;    
    border-color: #FFF;
  }
}
.bg-dark {
  background-color: $gray-dark;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  .field{
    color: #FFF;    
    border-color: #FFF;
  }
}
.bg-alternative {
  background-color: $brand-primary;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  .field{
    color: #FFF;    
    border-color: #FFF;
  }
}
.top-border.bg-white {
  .views-container-inner-inner {
    border-top: 2px solid #ccc;
    padding-top: floor($grid-gutter-width * 1.5);
  }
}
.page-taxonomy .paragraphs-container,
.front .paragraphs-container {
  .entity-paragraphs-item .content {
    @extend .container;
  }
}
.paragraphs-items{
  .field.field-name-field-paragraph-header{
    margin-bottom: $grid-gutter-width;
    text-transform: uppercase;
    font-size: 2.368em;
    font-weight: normal;
    font-family: $headings-font-family;
  }
  .field.field-name-field-paragraph-text{
    font-size: 1.25em;
    font-weight: normal;
    font-family: $font-lato;
    margin-bottom: 30px;
  }
}

.paragraphs-item-afsnit-m-galleri {
  .field-items {
    @include make-row();
    margin-bottom: ($grid-gutter-width /2 );
    margin-top: $grid-gutter-width;
    .field-item {
      @include make-xs-column(6);
      @include make-sm-column(4);
      margin-bottom: ($grid-gutter-width /2 );
      img {
        border: #000 solid 10px;
      }
    }   
  }
}
.pane-instagram-billeder {
  .view-content {
    @include make-row();
    background-image: url('../img/bg-instagram.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
  }
  .views-row {
    @include make-xs-column(6);
    @include make-sm-column(3);
  }
  .views-row-first {
    @include make-sm-column-push(3);
  }
}
.panel-pane.views-container.full-width .views-container-inner {
  @include container-fixed($gutter: $grid-gutter-width); 
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
      width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
      width: $container-lg;
  }
  .view-content {
    @include make-row();
    .views-row {
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(3);
    }
  }
}
.panel-pane.views-container.full-width .views-container-inner .view-id-fic_artikler .view-content .views-row.views-row-first {
  @include make-md-column(6);
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Header
  .paragraphs {
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {

}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Header
  .paragraphs {
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {
  //trick to mane menu clickable on the front page because of background slideshow

}

// Desktop - only
@include media-breakpoint-only(md) {

}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Header
  .paragraphs {
  }
}

// Print
@media print {

  // Header
  .paragraphs {
  }
}

// Touch
.touchevents {

  // Header
  .paragraphs {
  }
}

// No touch
.no-touchevents {

  // Header
  .paragraphs {
  }
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Header mixin
@mixin paragraphs-mixin() {
}
