// I used alot over !importants in this file. Dont ever use !importants. By @hjemmesidekongen
.field-slideshow-wrapper {

  .field-slideshow-controls {
    position: absolute;

    top: auto !important;
    bottom: 0;

    align-items: flex-end !important;
    padding-bottom: 10px;

    .prev {
      margin-left: 10px !important;
    }
    .next {
      margin-right: 10px !important;
    }
  }

  .field-slideshow-pager {
    display: none !important;
  }
}
