.field-slideshow-wrapper {

  .field-slideshow-controls {
    position: absolute;

    top: auto !important;
    bottom: 0;

    .prev {
      margin-left: 10px !important;
    }
    .next {
      margin-right: 10px !important;
    }
  }

  .field-slideshow-pager {
    display: none;
  }
}
