// I used alot over !importants in this file. Dont ever use !importants. By @hjemmesidekongen
.field-slideshow-wrapper {

  .field-slideshow-controls {
    position: absolute;

    top: auto !important;
    bottom: 0;

    align-items: flex-end !important;
    padding-bottom: 10px;

    .prev {
      margin-left: 10px !important;
    }
    .next {
      margin-right: 10px !important;
    }
  }

  .field-slideshow-pager {
    display: none !important;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {

  .field-slideshow {
    width: 100% !important;
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
