// |--------------------------------------------------------------------------
// | Taxonomy term search result
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-mode-os2sub_term_search_result
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Term
.view-mode-os2sub_term_search_result {
  @extend .view-mode-search_result;
}
