// |--------------------------------------------------------------------------
// | Spotbox
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-mode-os2sub_spotbox_list
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.view-mode-os2sub_spotbox_list {
  &.vocabulary-os2web-kulturnaut-venue {
    position: relative;
    margin-bottom: 30px;
    header h2 {
      font-size: 1.56em;
      color: white;
      margin-bottom: 3px;
    }
    .field-name-field-os2web-kult-venue-address {
      font-size: 0.94em;
      color: $color-focus-secondary;
      font-weight: bold;
    }
    .upper-part {
      padding: 15px;
      position: absolute;
      top: 0;
      font-size: 1.3em;
      color: white;
      text-transform: uppercase;
      .activities-count {
        padding: 2px 10px;
        background: $color-focus;
        display: inline-block;
        border-radius: 10px;
      }

    }
    .bottom-part {
      padding: 15px;
      position: absolute;
      width: 100%;
      bottom: 0;
      @include  gradient-vertical(rgba($color-primary,0), rgba($color-primary,0.9), 20%, 80%);
    }
  }
}

  .panel-pane.pane-entity-field-extra.pane-taxonomy-term-description{
  padding-bottom: 30px;
} 
