// |--------------------------------------------------------------------------
// | List
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node-list
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// List
.node-list {
  padding: 10px 0;
}

.node-list-updated-at {
  font-weight: $font-weight-bold;
  color: $brand-primary;
}

.node-list-title {
  @extend .heading-h3;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // List
  .node-list {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // List
  .node-list {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // List
  .node-list {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // List
  .node-list {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // List
  .node-list {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // List
  .node-list {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // List
  .node-list {}
}

// Print
@media print {

  // List
  .node-list {}
}

// Touch
.touchevents {

  // List
  .node-list {}
}

// No touch
.no-touchevents {

  // List
  .node-list {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// List mixin
@mixin node-mixin-list() {}
