// |--------------------------------------------------------------------------
// | Spotbox, Spotbox single, Spotbox mini
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-mode-spotbox, .view-mode-os2sub_spotbox_single, .view-mode-os2sub_spotbox_mini
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------
$image-border: 10px;
// --------------------------------------------------
// Styling
// --------------------------------------------------
.node--os2web_kulturnaut_knactivity--os2sub_teaser_mini,
.node--os2web_base_news--os2sub_teaser_mini {
  & .text-contraster{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, black, transparent);
  }
  & .overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.9);
    margin-top: -1px;
    margin-left: -1px;

    .overlay-content {
      text-align: center;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      padding: 20px;
      .field-type-text-with-summary{
        font-size: 1.2em;
        font-family: $font-rbn021a;
      }
      a{
        background-color: $color-red;
        font-family: $font-rbn021a;
        font-weight: normal;
        border: 0;
        padding: 5px 10px;
        font-size: 1.5em;
        height: auto;
        width: auto;
        margin-top: 30px;
      }
      div.link-show-more{
        a{
          margin-top: 0;
        }
      }
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }
  .field.field-name-field-os2web-kulturnaut-date.field-type-datetime{
    font-size: 0.9em;
    color: $brand-secondary;
    text-transform: uppercase;
  }
  header{
    h2, h3{
      margin-top: 0;
      text-transform: uppercase;
      font-size: 1.92em;
      font-family: $headings-font-family;
      line-height: 1em;
    }
  }
  .field.field-name-field-os2web-kulturnaut-descrip.field-type-text-with-summary{
    line-height: 1.6em;
  }
}
// Teaser
.node--os2web_kulturnaut_knactivity--os2sub_teaser_mini{

  .overlay-wrapper{
    border: 6px solid $gray-darker;
    position: relative;
    margin-bottom: 27px;
  }
  header{
    h3{
      margin-bottom: 15px;
      color: $color-dark-gray;
    }
  }
  .link.show-more{
    margin-top: 10px;
    a{
      text-transform: uppercase;
      font-weight: bold;
      &:active, &:hover, &:focus{
        text-decoration: none;
        color: $gray-dark;
      }
    }
  }

  & .overlay {
    width: 102%;
    height: 102%;
  }
}

.node--os2web_base_news--os2sub_teaser_mini {
  border: $image-border solid #fff;
  position: relative;
  overflow: hidden;

  .upper-part{
    position: absolute;
    top: 0;
    right: 0;
    a{
      display: block;
      background-color: $brand-secondary;
      color: #fff;
      font-size: 0.875em;
      line-height: 0.875;
      font-weight: 800;
      text-transform: uppercase;
      padding: 10px;
      &:active, &:hover, &:focus{
        text-decoration: none;
        color: $gray-dark;
      }
    }
  }
  .bottom-part{
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    & header{
      & h2{
        color: #fff;
      }
    }
  }

  .content-sidebar & {
    border: $image-border solid $gray-darker;
  }
}

.big-plus-wrapper{
  position: relative;
  width: 100%;
  padding-top: 100%;

  a.big-plus-link{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 10px $gray-darker dashed;
    color: #fff;
    font-family: $headings-font-family;
    font-size: 1.75em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;

    span.link.fa.fa-plus{
      color: $brand-primary;
      font-size: 2.75em;
      line-height: 80px;
      margin-bottom: 0;
    }
    &:hover{
      border-color: #fff;
    }
  }

  .content-sidebar & {

    a.big-plus-link {
      color: $text-color;

      &:hover{
        border-color: $gray-darker;
      }
    }
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------
.view-os2sub-nyheder,
.view-fic-artikler {
  .views-row{
    margin-bottom: $grid-gutter-width;
  }

  .se-flere{
    border: $image-border dashed $gray-darker;
    &:hover{
      border-color: #fff;
    }
  }
}

.view-fic-embed-nodes article.node {
  margin-bottom: $grid-gutter-width;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {




}

// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {


}

// Tablet - only
@include media-breakpoint-only(sm) {


}

// Desktop - and up
@include media-breakpoint-up(md) {


}
// Desktop - only
@include media-breakpoint-only(md) {

.node--os2web_kulturnaut_knactivity--os2sub_teaser_mini,
.node--os2web_base_news--os2sub_teaser_mini {
  & .overlay{
    .overlay-content {
      padding: 10px;
      .field-type-text-with-summary{
        font-size: 0.8em;
        }
      }
    }
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Page layout
  .content-inner {}
}

// No touch
.no-touchevents {


}
// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Page layout mixin
@mixin content-mixin-inner() {}
