// |--------------------------------------------------------------------------
// | Spotbox, Spotbox single, Spotbox mini
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-mode-spotbox, .view-mode-os2sub_spotbox_single, .view-mode-os2sub_spotbox_mini
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------
$image-border: 10px;
// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser


.node--os2web_base_news--os2sub_teaser_mini {
  border: $image-border solid #fff;
  position: relative;
  .field.field-name-field-os2web-base-field-lead-img.field-type-image{

    & img{

    }
  }
  & .overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba($color-red, 0.75);
    .overlay-content {
      text-align: center;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      padding: 20px;
      .field-type-text-with-summary{
        font-size: 1.2em;
        font-family: $font-rbn021a;
      }
      a{
        padding: 5px 10px;
        font-size: 0.875em;
        height: auto;
        width: auto;
        margin-top: 30px;
      }
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  .upper-part{
    position: absolute;
    top: 0;
    right: 0;
    a{
      display: block;
      background-color: $brand-secondary;
      color: #fff;
      font-size: 0.8em;
      font-weight: bold;
      padding: 10px;
      &:active, &:hover, &:focus{
        text-decoration: none;
        color: $gray-dark;
      }
    }
  }
  .bottom-part{
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    & header{
      & h2{
        margin-top: 0px;
        text-transform: uppercase;
        margin-top: 0px;
        font-size: 1.75em;
        font-family: $headings-font-family;
        color: #fff;
      }
    }
  }
}
.se-flere{
  position: relative;
  .se-flere-content{
    color: #fff;
    font-family: $headings-font-family;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    p.se-flere-icon{
      color: $brand-primary;
      font-size: 3.75em;
      font-family: $font-lato;
      line-height: 80px;
      font-weight: 700;
      margin-bottom: 0px;
    }
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------

.view-display-id-panel_pane_1{
  .views-row{
    margin-bottom: $grid-gutter-width;
  }
}
.se-flere{
  border: $image-border dashed $gray-darker;
  &:hover{
    border-color: #fff;
  }
}
// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {




}

// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {


}

// Tablet - only
@include media-breakpoint-only(sm) {


}

// Desktop - and up
@include media-breakpoint-up(md) {
  .views-row-first{
    .node--os2web_base_news--os2sub_teaser_mini {
      .upper-part{
        a{
          font-size: 1.125em;
          padding: 15px;
        }
      }
      .bottom-part{

        & header{
          & h2{
            font-size: 3.125em;
          }
        }
      }
      & .overlay{

        .overlay-content {
          padding: 10px;
          .field-type-text-with-summary{
            font-size: 1.75em;
          }
          a{
            padding: 10px 15px;
            font-size: 1.5em;
            margin-top: 65px;
          }
        }
      }
    }
  }


}
// Desktop - only
@include media-breakpoint-only(md) {



}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Page layout
  .content-inner {}
}

// No touch
.no-touchevents {


}
// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Page layout mixin
@mixin content-mixin-inner() {}
