@mixin load-more-btn-full-width {
  @extend .btn;
  @extend .btn.btn-tertiary;
  @extend .btn-full-width;
  font-family: $font-roboto-slab;
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  border-radius: 30px;
  &:before {
    content: '+';
    font-size: 1.5em;
    line-height: 0.1em;
    font-weight: bold;
    top: 0.1em;
    position: relative;
    padding-right: 5px;
    color: $color-focus;
  }
}