// |--------------------------------------------------------------------------
// | os2web-kulturnaut-events-lists
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-os2web-kulturnaut-events-lists
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------
$header-size: 112px;
//size of header in desktop orientation and up
// --------------------------------------------------
// Styling
// --------------------------------------------------

// Add to calendar

/* General */
.addthisevent 							{visibility:hidden;}
.addthisevent span 						{display:none!important;}
.addthisevent .data 					{display:none!important;}

/* The button */
.addthisevent-drop 						{display:inline-block;position:relative;z-index:999998;color:#333;text-decoration:none;cursor:pointer;width:100%;margin-top:10px;}
.addthisevent-drop:hover 				{color:#555;text-decoration:underline;}

/* The drop down */
.addthisevent_dropdown {
  width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:4px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);

  span 			{display:block;line-height:100%;background:#fff;text-decoration:none;font-size:14px;color:#333;padding:9px 10px 9px 40px;}
  span:hover 		{background-color:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
  em 				{color:#999!important;font-size:12px!important;}
  .frs 			{
    background:#fff;color:#cacaca!important;cursor:pointer;font-size:9px!important;font-style:normal!important;font-weight:normal!important;line-height:110%!important;padding-left:10px;position:absolute;right:10px;text-align:right;text-decoration:none;top:5px;z-index:101;
  }
  .frs:hover 		{
    color:#999!important;
  }
  .ateappleical:before 	{ content: 'aicon'; }
  .ateoutlook:before 		{ content: 'aicon'; }
  .ateoutlookcom:before 	{ content: 'aicon'; }
  .ategoogle:before 		{ content: 'aicon';	}
  .ateyahoo:before 		{ content: 'aicon'; }
  .atefacebook:before 	{ content: 'aicon'; }

  .ateappleical,
  .ateoutlook,
  .ateoutlookcom,
  .ategoogle,
  .ateyahoo,
  .atefacebook {
    &:before {
      content: "";
      float: left;
      margin-right: 5px;
    }
  }





  .copyx 			{ height:21px;display:block;position:relative;cursor:default; }
  .brx 			{
    height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;
  }
}


//span.date-display-end {
//  display: block;
//}
.view-os2web-kulturnaut-events-lists {
  &.view-display-id-pane_activities_list_4_mini {
    .field-name-field-os2web-kulturnaut-date{
      font-size: 1.06em;
      font-weight: normal;
      margin-bottom: 10px;
      span.time{
        font-weight: bold;
      }
    }
  }
  &.view-display-id-pane_related_articles,
  &.view-display-id-pane_activities_list_5_load_more,
  &.view-display-id-pane_activities_for_tag,
  &.view-display-id-pane_activities_for_venue,
  &.view-display-id-pane_activities_for_tema,
  &.view-display-id-pane_kultunaut_events {
    .pager--infinite-scroll {
      margin-top: 0;
      a {
        @include load-more-btn-full-width;
      }
    }
  }

  &.view-display-id-pane_kultunaut_events {
    margin-bottom: 80px;
    .view-header {
      margin-top: 5px;
      margin-bottom: 60px;
      color: $color-primary;
    }
  }
  &.view-display-id-attachment_activities_list_3_2 {
    .views-field-title {
      font-family: $font-roboto-slab;
      font-size: 1.375em;
      color: $color-focus-tertiary;
      line-height: 1em;
      margin-top: 0.1875em;
      margin-bottom: 0.1875em;
    }
    .views-field-field-os2web-kulturnaut-date, .views-field-view-node {
      font-size: 1em;
      color: #666666;
      text-transform: lowercase;
    }
    .views-field-view-node {
      font-weight: bold;
      a {
        color: #666666 !important;
      }
    }
  }
  &.view-display-id-pane_activities_list_4 {
    .upper-part{
      .field.field-name-field-os2web-kulturnaut-venue.field-type-taxonomy-term-reference.field-label-hidden{
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
      }
      .field.field-name-field-os2web-base-field-edi-tags.field-type-taxonomy-term-reference.field-label-hidden{
        display: none;
      }
    }
    .bottom-part{
      header h2{
        font-weight: 1.56em;
      }
    }
    .overlay{
      a.btn.btn-full-width{
        padding-left: initial;
        padding-right: initial;
        font-size: 1em;
      }
      .overlay-content{
        padding: 20px !important;
      }
    }
  }
  &.view-display-id-pane_activities_list_5_load_more {
    .overlay{
      a.btn.btn-full-width{
        padding-left: initial;
        padding-right: initial;
        font-size: 1em;
      }
    }
  }

  &.view-display-id-block_slideshow .views-slideshow-cycle-main-frame-row {
    max-width: 100%;
  }
}

.not-front .container-fluid .menu-background-slideshow {
  display: none;
}

.container-fluid .menu-background-slideshow {
  position: relative;
  top: 0;
  margin-bottom: 0;

  .views-slideshow-controls-bottom {
    > .container {
      position: relative;
    }
    .widget_pager_bottom {
      @include slideshow-pager-dots-block;
      z-index: 9999;
      bottom: 20px;
      right: 10px;
      a {
        @include slideshow-pager-dot;
      }
      .active {
        text-decoration: none;
        a {
          @include slideshow-pager-active-dot;
        }
      }
      > div {
        padding: 0;
      }
    }
  }

  .views-field-field-os2web-kulturnaut-slidesho .field-content .img-container {
    width: 100vw;
    height: 276px;

    background-position: center center;
    //    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bottom-part {
    position: absolute;;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
  }

  .views-field-title {
    font-family: $font-roboto-slab;
    font-size: 2em;
    line-height: 1.0em;
    font-weight: 900;
    color: white;
    padding-bottom: 10px;
    text-shadow: 3px 3px 4px #000;
  }

  .views-field-field-os2web-kulturnaut-sname,
  .views-field-field-os2web-kulturnaut-date,
  .views-field-field-os2web-base-field-edi-tags {
    color: white;
    font-size: 1.31em;
  }
  .views-field-field-os2web-kulturnaut-date,{
    text-transform: lowercase;
  }
  .views-field-field-os2web-base-field-edi-tags {
    font-weight: bold;
  }

  .views-field-view-node {
    margin-top: 25px;
    a {
      left: 50%;
      position: relative;
      transform: translate(-50%,0);
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Banner
  .banner {
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {
  .container-fluid .menu-background-slideshow {
    .views-slideshow-controls-bottom {
      .widget_pager_bottom {
        display: none;
      }
    }
    .views-field-field-os2web-kulturnaut-sname,
    .views-field-field-os2web-base-field-edi-tags,
    .views-field-field-os2web-kulturnaut-date{
      display: none;
    }
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Banner
  .banner {
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
  .container-fluid .menu-background-slideshow {
    .views-slideshow-controls-bottom {
      .widget_pager_bottom {
        display: none;
      }
    }
    .views-field-field-os2web-kulturnaut-sname,
    .views-field-field-os2web-base-field-edi-tags,
    .views-field-field-os2web-kulturnaut-date{
      display: none;
    }
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {
  .view-os2web-kulturnaut-events-lists {
    &.view-display-id-pane_related_articles,
    &.view-display-id-pane_activities_list_5_load_more,
    &.view-display-id-pane_activities_for_tag,
    &.view-display-id-pane_activities_for_venue,
    &.view-display-id-pane_activities_for_tema,
    &.view-display-id-pane_kultunaut_events {
      .pager--infinite-scroll {
        a {
          @include load-more-btn-full-width-md;
        }
      }
    }
  }

  .container-fluid .menu-background-slideshow {
    position: relative;
    top: -$header-size;
    margin-bottom: -$header-size - 2;
    .bottom-part {
      left: auto;
      bottom: 75px;
      text-align: left;
      transform: none;
    }
    .views-field-field-os2web-kulturnaut-slidesho .field-content .img-container {
      height: 540px;
    }
    .views-field-title {
      font-size: 4em;
      padding-bottom: 20px;
    }
    .views-field-view-node {
      margin-top: 35px;
      a {
        left: auto;
        transform: none;
      }
    }
    .views-field-view-node-1 .field-content {
      margin-left: 15px;
    }
  }
  .view-os2web-kulturnaut-events-lists {
    &.view-display-id-pane_activities_list_5_load_more {
      .pager--infinite-scroll {
        margin: 0;
        li {
          width: 100%;
          padding-top: 100%;
          position: relative;
          display: block;
          a {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            color: $color-primary;
            background-color: $color-background-secondary;
            font-family: $font-roboto-slab;
            font-size: 3.18em;
            //padding-left: 160px;
            //padding-right: 160px;
            text-transform: none;
            font-weight: normal;

            &:before{
              content: '+';
              color: $color-focus;
              font-weight: bold;
              font-size: 3.18em;
              line-height: 0.5em;
              padding-bottom: 25px;
            }
            &:hover, &:active, &:focus {
              background-color: $color-background-secondary;
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
// Desktop - only
@include media-breakpoint-only(md) {

  // Banner
  .banner {
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Banner
  .banner {
  }
}

// Print
@media print {

  // Banner
  .banner {
  }
}

// Touch
.touchevents {

  // Banner
  .banner {
  }
}

// No touch
.no-touchevents {

  // Banner
  .banner {
  }
}



