// |--------------------------------------------------------------------------
// | os2web-kulturnaut-tema-list
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-os2web-kulturnaut-tema-list
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------
.views-field.views-field-field-os2web-kult-tema-image .field-content .img-effect {
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 50% 50%;
  width: 80px;
  height: 80px;
  background-color: rgba($color-img-effect-1, 0.50);
  opacity: 50%;
  margin-left: 15px;
}
.view-os2web-kulturnaut-tema-list {
  .views-row {
    margin-bottom: 25px;

    .views-field-name {
      font: $font-roboto-slab;
      font-size: 1.625em;
      a {
        color: $color-focus;

      }
    }
    .views-field-description {
      font-size: 1.125em;
    }
  }
  .view-content .views-field.views-field-description .field-content a.views-more-link{
    text-decoration: underline;
  }
}