.view-id-kalender {
  &.view-display-id-page {
    .pager--infinite-scroll {
      margin-top: 0;
      a {
        @include load-more-btn-full-width;
        font-size: 2em;
        line-height: 2em;
      }
    }
  }
}