$color-primary: #0f2846;
$color-background-primary: #ffffff;
$color-background-secondary: #eeeeee;
$color-background-tertiary: #cccccc;
$color-font-light: #ffffff;
$color-font-light-secondary: #999999;
$color-font-dark: #333333;
$color-font-dark-secondary: #666666;

$color-focus: #ff0060;
$color-focus-secondary: #00beff;
$color-focus-tertiary: #205692;

$color-btn-primary: $color-focus;
$color-btn-secondary: #12bb76;