.btn {
  max-width: 100%;
  white-space: normal;
}

@include media-breakpoint-only(xs) {

  .view-events {

    .views-exposed-widgets {
      display: flex;

      flex-direction: column;

      > * {
        flex-grow: 1;
      }

      .container-inline-date > .form-item {
        display: block;
      }

      #edit-title-wrapper {
        margin-top: 10px;

        label {
          display: block !important;

          font-weight: normal;
          font-size: 17px;
        }
      }

      .btn {
      }

      .views-exposed-widget {
        float: none;
      }

      .views-submit-button button {
        display: block !important;
        width: 100%;
      }
    }
  }
}


.node-type-os2web-base-gallery .region.region-content,
.node-type-event-calendar .region.region-content,
.node-type-os2web-base-news .region.region-content,
.node-type-os2web-base-contentpage .region.region-content,
.front .panel-pane .pane-content,
.front .facebook-forside,
.front .panel-pane .pane-title,
.full-width .pane-content .view-content,
.content-width .event-teasers,
.content-width .pane-block-1,
.content-width .pane-events .pane-title,
.footer .content-width {
  max-width: $container-lg;
  margin: 0 auto;
}
.page-nyheder .main-container .content-width {
  max-width: $container-md;
  margin: 0 auto;
}
.full-width .pane-content,
.full-width .pane-title,
.front .full-width .pane-content,
.front .full-width .pane-title {
  max-width: 100%;
}
.panel-pane .pane-title {
  color: #777;
}
.panel-pane h1.pane-title {
  color: #306783;
}
#block-system-main .panel-pane.pane-det-sker-slideshow {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.sealle-link {
  float: left;
  color: #FFF;
}
.owl-dots {
  text-align: right;
  margin-top: 0 !important;
  padding-top: 0;
  float: right;
}
#block-system-main .facebook-forside {
  padding-top: 20px;
  padding-bottom: 20px;
  a.btn {
    width: 75%;
  }
}
