.node {
  font-size: 1.06em;
}

.node-os2web-kulturnaut-knactivity {
  .field-name-field-os2web-kulturnaut-date {
    font-family: $font-family-base;
    font-weight: bold;
    font-size: 1.31em;
    color: $color-font-dark-secondary;
  }
}