// |--------------------------------------------------------------------------
// | fic-header-banners
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-fic-header-banners
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------
.view-fic-header-banners {
  .views-slideshow-cycle-main-frame {
    height: auto !important;
  }

  .views-slideshow-cycle-main-frame-row {
    position: static !important;
  }

  .views_slideshow_main {
    height: 500px;
  }

  .views-slideshow-controls-bottom {
    @include container-fixed;

    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
  }

  .taxonomy-term {
    height: 400px;
    text-align: center;
    color: $color-white;
    font-family: $font-rbn021a;
    position: relative;

    &-description {
      font-size: 3.125em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
    }
  }

  .views-slideshow-contrqwols-bottom {
    text-align: center;

    a {
      font-family: $font-rbn021a;
      font-size: 1.5em;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 20px 10px;
      background: $color-white;
      color: $color-black;
      position: relative;
      text-decoration: none;

      &::after {
        content: '>';
        display: block;
        height: 20px;
        position: absolute;
        right: 6px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .views-row-first {
      display: none;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {


}
// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {



}

// Tablet - only
@include media-breakpoint-only(sm) {


  .social-icons {}
}

// Desktop - and up
@include media-breakpoint-up(md) {


}

// Desktop - only
@include media-breakpoint-only(md) {


}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Social icons
  .social-icons {}
}

// No touch
.no-touchevents {

}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

