// |--------------------------------------------------------------------------
// | Slideshow
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .field-type-image
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Banner mixin
@mixin slideshow-pager-dots-block() {
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: 0.9;
}

@mixin slideshow-pager-dot() {
  font-size: 0px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 5px;
}

@mixin slideshow-pager-active-dot() {
  background-color: white;
}

// --------------------------------------------------
// Styling
// --------------------------------------------------



// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - only
@media #{$breakpoint-mobile-only} {

  
}