// |--------------------------------------------------------------------------
// | os2web-kulturnaut-events-lists
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-os2web-kulturnaut-events-lists
// |


// --------------------------------------------------
// Variables
// --------------------------------------------------

//size of header in desktop orientation and up
// --------------------------------------------------
// Styling
// --------------------------------------------------
.activities-list-background{
  background-color: $color-dark-gray;
  padding-top: 120px !important;
  padding-bottom: 120px !important;
  .activities-list-container{
    float: unset;
    .panels-flexible-region-inside{
      @extend .row;
    }
  }
}

.panel-pane.pane-node-title{
  .os2-box{
    .os2-box-body.pane-content{
      h1.pane-title{
        font-size: 3.375em;
      }
    }
  }
}

.pane-node-field-afsnit-full-width {

  .entity {

    .content {
      @extend .container;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------
.views-container.full-width.panel-pane.pane-views-panes.pane-fic-kommende-arrangementer-panel-pane-2{
  .views-container-inner-inner{
    h2.pane-title{
      margin-bottom: 32px;
      
    }
  }
}
// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}



