// |--------------------------------------------------------------------------
// | os2web-kulturnaut-events-lists
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-os2web-kulturnaut-events-lists
// |


// --------------------------------------------------
// Variables
// --------------------------------------------------

//size of header in desktop orientation and up
// --------------------------------------------------
// Styling
// --------------------------------------------------
.activities-list-background{
  background-color: $color-dark-gray;
  padding-top: 120px !important;
  padding-bottom: 120px !important;
  .activities-list-container{
    float: unset;
    .panels-flexible-region-inside{
      @extend .row;
    }
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------
.views-container.full-width.panel-pane.pane-views-panes.pane-fic-kommende-arrangementer-panel-pane-2{
  .views-container-inner-inner{
    h2.pane-title{
      margin-bottom: 32px;
      
    }
  }
}
// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Banner
  .banner {
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Banner
  .banner {
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

}

// Desktop - and up
@include media-breakpoint-up(md) {


}
// Desktop - only
@include media-breakpoint-only(md) {

  // Banner
  .banner {
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Banner
  .banner {
  }
}

// Print
@media print {

  // Banner
  .banner {
  }
}

// Touch
.touchevents {

  // Banner
  .banner {
  }
}

// No touch
.no-touchevents {

  // Banner
  .banner {
  }
}



