// |--------------------------------------------------------------------------
// | 
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | 
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------
.paragraphs-item-afsnit-m-billede{
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    input{
      vertical-align: baseline;
      text-transform: uppercase;
      font-family: $headings-font-family;
      font-size: 1.875em;
      margin-bottom: ($grid-gutter-width / 2);
      &.btn{
        padding: 0px 10px;
        font-size: 1.6em;
        height: auto;
        width: auto;
      }
    }
  }
  .field.field-name-field-paragraph-header{
    font-size: 3.125em;
  }

}


// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {


}
// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .paragraphs-item-afsnit-m-billede{
    padding-bottom: 60px;
    padding-top: 60px;
    form{
      justify-content: center;
    }
  }

}

// Tablet - only
@include media-breakpoint-only(sm) {


  .social-icons {}
}

// Desktop - and up
@include media-breakpoint-up(md) {




}

// Desktop - only
@include media-breakpoint-only(md) {


}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Social icons
  .social-icons {}
}

// No touch
.no-touchevents {

  // Social icons
  .social-icons {}
}

