// |--------------------------------------------------------------------------
// | 
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | 
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$custom-padding-large-vertical: 15px;
$custom-input-height: (ceil($font-size-large * $line-height-large) + ($custom-padding-large-vertical * 2));

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraphs-item-afsnit-m-billede {
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;

  input[type="text"] {
    display: inline-block;

    height: $custom-input-height;
    padding: $custom-padding-large-vertical $padding-large-horizontal;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214

    margin: 0 0 10px 0;
    border-radius: 0 !important;
    border: 0;
    text-transform: uppercase;
    font-family: $headings-font-family;
    font-size: 1.875em;
    outline: 0;
    text-indent: 0 !important; // override the inline styling set on element
  }

  .btn {
    height: auto;
    @include button-size($custom-padding-large-vertical, 5px, 1.625em, $line-height-large, $btn-border-radius-large);
    padding: 7px 5px;

    font-family: $headings-font-family;
    font-size: 1.625em;

    border: 0;
    border-radius: 0;
  }

  .field.field-name-field-paragraph-header {
    font-size: 3.125em;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .paragraphs-item-afsnit-m-billede{
    padding-bottom: 60px;
    padding-top: 60px;

    form{
      justify-content: center;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
