// |--------------------------------------------------------------------------
// |
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// |
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraphs-item-afsnit-m-link{
  padding-bottom: floor(1.5*$grid-gutter-width);
  padding-top: floor(1.5*$grid-gutter-width);
  font-family: $headings-font-family;

  .field.field-name-field-paragraph-header{
    font-size: 3.125em;
    margin-bottom: 0;
  }

  .field.field-name-field-knap-link{
    a{
      @extend .btn;
      @extend .btn-black;
      font-size: 1.875em !important;
      width: auto !important;
      height: auto !important;
      line-height: 0.9em !important;
      font-family: $headings-font-family !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      font-weight: normal !important;
      margin-top: 3px;
    }
  }

  .aligner-left{
    text-align: center;
  }

  .aligner-right{
    text-align: center;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {

  .paragraphs-item-afsnit-m-link {

    .paragraph-position--right {

      .field-name-field-knap-link {
        margin-bottom: $grid-gutter-width;
      }
    }
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .paragraphs-item-afsnit-m-link{
    padding-bottom: 60px;
    padding-top: 60px;

    .aligner-left{
      text-align: left;
    }

    .aligner-right{
      text-align: right;
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
