// |--------------------------------------------------------------------------
// | 
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | 
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------
.paragraphs-item-header-text-media{
  padding-bottom: 40px;
  padding-top: 40px;

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // Fixes Safari issue (https://stackoverflow.com/questions/34250282/flexbox-safari-bug-flex-wrap)
    &:after,
    &:before {
      content: normal; // IE doesn't support `initial`
    }
    .field.field-name-field-paragraph-header{
      color: $color-red;
    }

    .paragraph-video-container{
      .paragraph-video {
        iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .content{
          position: relative;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 56.25%; /* 16:9 */
          padding-top: 25px;
          height: 0;
          width: 100%;
        }
      }

    }
  }
}
.page-node .paragraphs-item-header-text-media {
  padding-bottom: $grid-gutter-width;
  padding-top: $grid-gutter-width;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {


}
// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .paragraphs-item-header-text-media{
    padding-bottom: 60px;
    padding-top: 60px;
  }

}

// Tablet - only
@include media-breakpoint-only(sm) {


  .social-icons {}
}

// Desktop - and up
@include media-breakpoint-up(md) {




}

// Desktop - only
@include media-breakpoint-only(md) {


}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Social icons
  .social-icons {}
}

// No touch
.no-touchevents {

  // Social icons
  .social-icons {}
}

