// |--------------------------------------------------------------------------
// | 
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | 
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------
.paragraphs-item-header-text-media{
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: $color-white;
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .field.field-name-field-paragraph-text{
      color: $color-black;
      font-size: 1.25em;
      font-weight: normal;
      font-family: $font-lato;
      margin-bottom: $grid-gutter-width;
    }

    .field.field-name-field-paragraph-header{
      margin-bottom: $grid-gutter-width;
      color: $color-red;
      text-transform: uppercase;
      font-size: 2.368em;
      font-weight: normal;
      font-family: $font-rbn021a;
    }
    .paragraph-video-container{
      .paragraph-video{
        margin-bottom: ($grid-gutter-width /2 );
        .file {
          border: 10px solid $color-black;
        }
        
        iframe{
          width: 100% !important;
          height: 300px !important;
        }
      }
    }

    .field-label{
      display: none;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {


}
// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .paragraphs-item-header-text-media{
    padding-bottom: 60px;
    padding-top: 60px;
  }

}

// Tablet - only
@include media-breakpoint-only(sm) {


  .social-icons {}
}

// Desktop - and up
@include media-breakpoint-up(md) {




}

// Desktop - only
@include media-breakpoint-only(md) {


}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Social icons
  .social-icons {}
}

// No touch
.no-touchevents {

  // Social icons
  .social-icons {}
}

