// |--------------------------------------------------------------------------
// | 
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | 
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraphs-item-header-text-links-image{
  padding-bottom: 40px;
  padding-top: 40px;

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    // Fixes Safari issue (https://stackoverflow.com/questions/34250282/flexbox-safari-bug-flex-wrap)
    &:after,
    &:before {
      content: normal; // IE doesn't support `initial`
    }
    .field.field-name-field-knap-link{

      a{
        @extend .btn;
        @extend .btn-red;

        font-size: 1.875em !important;
        width: auto !important;
        height: auto !important;
        line-height: 0.9em !important;
        font-family: $headings-font-family !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        font-weight: normal !important;

      }

      .field-item{
        float: left;
        margin-bottom: 15px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        &:last-child {
          margin-right: 0 !important;
        }
        &:first-child{
          margin-left: 0 !important;
        }

      }
    }
    .field.field-name-field-image.field-type-image{
      img{
        border-style: solid;
        border-width: 6px;
      }
    }
  }
}// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .paragraphs-item-header-text-links-image{
    padding-bottom: 60px;
    padding-top: 60px;

    .row{

      .field.field-name-field-knap-link{

        .field-item{
          margin-left: 0 !important;
          margin-right: 15px !important;
        }
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {  .social-icons {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

