// |--------------------------------------------------------------------------
// | 
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | 
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraphs-item-header-text-media {
  padding-bottom: $grid-gutter-width;
  padding-top: $grid-gutter-width;

  .field-name-field-paragraph-header {
    color: $color-red;
  }

  .field-name-field-image {
    border: 6px solid $color-black;

    img {
      width: 100%;
      height: auto;
    }

    // Responsive embed (look at Bootstrap responsive-embed.scss)
    .file-video {
      position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;

      padding-bottom: 56.25%; // .embed-responsive-16by9

      .embed-responsive-item,
      iframe,
      embed,
      object,
      video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
      }
    }
  }

  .position-of-media--centered {

    .field-name-field-image {
      margin-bottom: $grid-gutter-width;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .paragraphs-item-header-text-media{
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
