// |--------------------------------------------------------------------------
// | Paragraph
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// |
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.node-os2web-base-contentpage {

  .field-name-field-afsnit {

    .entity-paragraphs-item {
      padding-top: 20px !important;
      padding-bottom: 20px !important;

      background-color: white !important;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

