// |--------------------------------------------------------------------------
// | 
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | 
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------
.paragraphs-item-personale {
  font-size: 1.45em;

  article {
    line-height: 1.2em;
    margin-bottom: 68px;
  }

  .field.field-name-field-paragraph-header {
    margin-bottom: 45px;

    .field-item {
      text-transform: none;
    }
  }

  .page-node.node-type-os2web-base-contentpage & h2 {
    font-size: 1em;
    margin-bottom: 3px;
    text-align: center;

    a {
      color: $color-black;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .field-name-field-personale-billede {
    img {
      width: 172px;
      border: 6px solid $color-gray;
    }
  }

  .field-name-field-personale-jobtitel {
    color: #9b9b9b;
    margin-bottom: 30px;
  }

  .field-name-field-personale-telefon-disp {
    color: $color-red;
  }

  .field-name-field-personale-email {
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {
  .paragraphs-item-personale {
    .row-amount-2 {
      width: 66.666667%;
      margin: 0 auto;
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

