// |--------------------------------------------------------------------------
// | 
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | 
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraphs-item-webform {

  .panel-body {
    padding: 0;
  }

  fieldset {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .form-control {
    border-width: 0;
  }

  .form-actions {
    text-align: right;
    margin-top: 15px;

    .webform-submit.form-submit {
      @extend .btn;
      @extend .btn-blue;
    }
  }

  .form-group:last-child {
    margin-bottom: $form-group-margin-bottom;
  }

  .field.field-name-field-paragraph-header {
    text-align: left;
  }

  .webform-component-select {
    position: relative;
    &:after {
      position: absolute;
      display: block;
      right: 5px;
      top: 4px;
      content: "";
      width: 30px;
      height: 30px;
      background: $color-white url("../img/arrows-up-down.png") center center no-repeat;
      pointer-events: none;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {


}
// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {
  .paragraphs-item-webform {
    .webform-component--row--kolonne-2 {
      div {
        margin-left: 5px;
      }
    }

    .webform-component--row--kolonne-1 {
      div {
        margin-right: 5px;
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {


  .social-icons {}
}

// Desktop - and up
@include media-breakpoint-up(md) {




}

// Desktop - only
@include media-breakpoint-only(md) {


}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Social icons
  .social-icons {}
}

// No touch
.no-touchevents {

  // Social icons
  .social-icons {}
}

