// |--------------------------------------------------------------------------
// | Paragraph
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// |
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-paragraphs-item {

  .paragraphs-items-field-afsnit &,
  &.no-bg {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    background-color: white !important;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

