/* Main colors */

/*rgb(252, 51, 6);*/
$color-red: #fc3306;

/*rgb(23, 176, 209);*/
$color-blue: #17b0d1;

/*rgb(36, 40, 46);*/
$color-dark-gray: #24282e;

/*rgb(21, 28, 30);*/
$color-black: #151c1e;

/*rgb(255, 255, 255);*/
$color-white: #ffffff;