/* Main colors */

/*rgb(255, 66, 0);*/
$color-red: #ff4200;

/*rgb(1, 181, 213);*/
$color-blue: #01b5d5;

/*rgb(42, 47, 54);*/
$color-dark-gray: #2a2f36;

/*rgb(25, 33, 36);*/
$color-black: #192124;

/*rgb(255, 255, 255);*/
$color-white: #ffffff;