// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.node-teaser {

  .node-teaser-top + .node-teaser-bottom {
    margin-top: 15px;
  }

  .node-teaser-profile-image {
    width: 85px;

    img {
      @extend .img-circle;
      width: 70px;
    }
  }

  .node-teaser-treatment-center {
    color: $brand-tertiary;
  }

  .node-teaser-full-name {
    @extend .heading-h3;
    margin: 0;
    margin-bottom: 5px;

    &,
    a {

      &,
      &:hover,
      &:focus,
      &:active {
        color: $headings-color;
      }
    }
  }

  .dived-table-cell {
    @extend .div-vertical-align-middle;
  }

  .node-teaser-number-of-measurements {
    color: $text-muted;
  }

  .node-teaser-actions {
    text-align: right;

    .node-teaser-actions-top + .node-teaser-actions-bottom {
      padding-top: 8px;
    }

    p {
      white-space: nowrap;
    }

    a:not(.btn) {

      &,
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        color: $brand-secondary;
      }
    }
  }

  .list-border {
    display: inline-block;
    border: 1px solid #ddd;

    > li {
      padding: 10px 20px;
      border-right: 1px solid #ddd;

      &:last-child {
        border-right: 0;
      }
    }
  }
}
.front-teaser-outer {
  margin: 20px 0;
}
.pane-os2sub-nyheder,
.event-teasers,
.view-det-sker-slideshow {
  .front-teaser,
  .node-teaser {
    padding-bottom: 30px;
    position: relative;
    border: 1px solid $brand-primary;
    a.teaser-link {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .date {
      position: absolute;
      right: 0;
      top: 0;
      background-color: $brand-secondary;
      width: 55px;
      height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content:space-around; 
        padding-top: 8px;
        padding-bottom: 8px;
      .dag, .maaned {
        color: #FFF;
        display: block;
        font-size: 22px;
        text-align: center;
        line-height: 14px;
        padding-top: 3px;
      }
      .maaned {
        color: #FFF;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 12px;
        padding-top: 1px;
          font-weight: 100!important;
      }
    }
    .headline {
      color: #FFF;
      font-size: 24px;
      font-family: $font-droid-serif;
      font-weight: normal;
      position: absolute;
      bottom: 20px;
      left: 20px;
      text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.94);
      text-align: left;
      .subheadline {
        font-size: 12px;
      }
    }
    &.node-os2web-base-news {
      margin-bottom: 30px;
      .headline {
      font-size: 18px;
      }
    }

  }
  .owl-theme .owl-dot {
    text-align: right;
    margin-top: 0;
  }
}
 

.readmore-btns {
  margin-top: 20px;
  .btn {
    margin-right: 20px;
  }
}

.youtube-text .pane-content {
        height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.youtube-text {
  padding-left: 40px;
  padding-top: 0px;

    
  a.btn { 
    width: auto; 
    max-width: 55%;
    font-size: 18px;
    background-color: $color-btn-red!important;
    
      &.btn:hover {
          
          border: none!important;
      }
    }
}

.view-os2web-events-slideshow-footer {
  padding-bottom: 120px;
  padding-top: 120px;
  .views-field-title,
  .views-field-body,
  .views-field-view-node {
    max-width: 45%;
    color: #FFF;
  }
  .h1 {
    color: #FFF;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Teaser
  .node-teaser {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Teaser
  .node-teaser {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Teaser
  .node-teaser {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Teaser
  .node-teaser {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Teaser
  .node-teaser {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Teaser
  .node-teaser {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Teaser
  .node-teaser {}
}

// Print
@media print {

  // Teaser
  .node-teaser {}
}

// Touch
.touchevents {

  // Teaser
  .node-teaser {}
}

// No touch
.no-touchevents {

  // Teaser
  .node-teaser {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser mixin
@mixin node-mixin-teaser() {}
