// |--------------------------------------------------------------------------
// | Spotbox, Spotbox single, Spotbox mini
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-mode-spotbox, .view-mode-os2sub_spotbox_single, .view-mode-os2sub_spotbox_mini
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.view-mode-spotbox.node,
.view-mode-os2sub_spotbox_single.node,
.view-mode-os2sub_spotbox_mini.node {
  &.node-os2web-kulturnaut-knactivity {
    position: relative;
    margin-bottom: 30px;
    header h2 {
      font-size: 1.56em;
      color: white;
      margin-bottom: 3px;
    }
    .field-name-field-os2web-kulturnaut-date {
      font-size: 0.94em;
      color: $color-focus-secondary;
      font-weight: bold;
    }
    .field-name-field-os2web-kulturnaut-venue,
    .field-name-field-os2web-kulturnaut-sname,
    .field-name-field-os2web-base-field-edi-tags {
      font-size: 1.125em;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
    .field-name-field-os2web-base-field-edi-tags {
      font-weight: 900;
    }

    .upper-part {
      padding: 15px;
      position: absolute;
      top: 0;
    }

    .bottom-part {
      padding: 15px;
      position: absolute;
      width: 100%;
      bottom: 0;
      @include  gradient-vertical(rgba($color-primary,0), rgba($color-primary,0.9), 20%, 80%);
    }

    .view-display-id-pane_activities_list_2_3 & {
      img { 
        outline: 6px solid $color-background-primary;
      }
      .field-name-field-os2web-kulturnaut-date {
        font-size: 1em;
        color: $color-font-light;
        font-weight: normal;
      }
      header h2 {
        font-size: 1.75em;
      }
    }
    .view-display-id-pane_activities_list_5_load_more & {
      .field-name-field-os2web-kulturnaut-date {
        span.date-display-single{ 
          font-size: 1.125em;
          color: $color-focus-secondary;
          font-weight: normal;
        }
      }
      header h2 {
        font-size: 1.75em;
      }
      .field-name-field-os2web-kulturnaut-venue{
        font-size: 1.125em;
        font-weight: normal;
      }
    }
    .view-display-id-pane_activities_list_4 & {
      .field-name-field-os2web-kulturnaut-date {
        span.date-display-single{ 
          font-size: 0.9em;
          font-weight: normal;
        }
      }
      header h2 {
        font-size: 1.56em;
      }
      .field-name-field-os2web-kulturnaut-venue {
        font-size: 1em;
      }
    }
    .one-left & {
      .field-name-field-os2web-kulturnaut-date.field-type-datetime {
        span.date-display-single{ 
          font-size: 1.32em;
          font-weight: normal;
        }
      }
    }
  }
}

.view-mode-os2sub_spotbox_single.node{
  &.node-os2web-kulturnaut-knactivity {
    .overlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: rgba($color-focus, 0.75); ;

      .overlay-content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding: 70px;
        .field-name-field-os2web-kulturnaut-url {
          margin-bottom: 13px;
        }
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
    }
  }
}

.view-mode-os2sub_spotbox_list.node {
  &.node-os2web-kulturnaut-knactivity {
    margin-bottom: 30px;
    margin-left: 100px;
  }
  header h2 {
    font-size: 2em;
    font-family: RobotoSlab;
    font-weight: normal;
    margin-bottom: 3px;
  }
  .field-name-field-os2web-kulturnaut-date {
    font-size: 1.063em;
    font-family: Lato;
    font-weight: bold;
    color: $color-font-light-secondary;
    padding-bottom: 15px;
    float: left;
  }
  .field-name-field-os2web-kulturnaut-venue {
    a{
      font-size: 1.063em;
      font-family: Lato;
      font-weight: bold;
      color: $color-font-light-secondary;
      padding-bottom: 15px;
      margin-left: 5px;
    }
  }
  .link{
    &.show-more {
      a {
        color: $color-focus;
        font-weight: bold;
      }
    }
  }

}

// --------------------------------------------------
// Variants
// --------------------------------------------------


