// |--------------------------------------------------------------------------
// | Spotbox, Spotbox single, Spotbox mini
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-mode-spotbox, .view-mode-os2sub_spotbox_single, .view-mode-os2sub_spotbox_mini
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.view-mode-os2sub_spotbox_mini.node {
  border: 6px solid $color-background-primary;
}

.view-mode-spotbox.node,
.view-mode-os2sub_spotbox_single.node,
.view-mode-os2sub_spotbox_mini.node {
  &.node-os2web-kulturnaut-knactivity {
    position: relative;
    margin-bottom: 30px;
    header h2 {
      font-size: 1.56em;
      color: white;
      margin-bottom: 3px;
      font-family: $font-roboto-slab;
    }
    .field-name-field-os2web-kulturnaut-date {
      font-size: 0.94em;
      color: $color-focus-secondary;
      font-weight: bold;
    }
    .field-name-field-os2web-kulturnaut-venue,
    .field-name-field-os2web-kulturnaut-sname,
    .field-name-field-os2web-base-field-edi-tags {
      font-size: 0.70em;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
    .field-name-field-os2web-base-field-edi-tags {
      
    }

    .upper-part {
      padding: 15px;
      position: absolute;
      top: 0;
    }

    .bottom-part {
      padding: 15px;
      position: absolute;
      width: 100%;
      bottom: 0;
      @include  gradient-vertical(rgba($color-primary,0), rgba($color-primary,0.9), 20%, 80%);
    }

    .view-display-id-pane_activities_list_2_3 & {
      .field-name-field-os2web-kulturnaut-date {
        font-size: 0.9em;
        color: $color-focus-secondary;
        font-weight: normal;
        text-transform: lowercase;
      }
      header h2 {
        font-size: 1.125em;
      }
    }
    .view-display-id-pane_activities_list_5_load_more & {
      .field-name-field-os2web-kulturnaut-date {
        span.date-display-single{ 
          font-size: 0.8em;
          color: $color-focus-secondary;
          font-weight: normal;
          text-transform: lowercase;
          display: block;
        }
        span.date-display-single:first-letter{
          text-transform: uppercase;
        }
      }
      header h2 {
        font-size: 0.9em;
      }
      .field-name-field-os2web-kulturnaut-venue{
        font-size: 1.125em;
        font-weight: bold;
        display: none;
      }
      .field-name-field-os2web-base-field-edi-tags {
        display: none;
      }
    }
    .view-display-id-pane_activities_list_4 & {
      .field-name-field-os2web-kulturnaut-date {
        span.date-display-single{
          font-size: 0.8em;
          font-weight: bold;
          text-transform: lowercase;
          display: block;
        }
        span.date-display-single:first-letter{
          text-transform: uppercase;
        }
      }
      header h2 {
        font-size: 0.9em;
      }
      .field-name-field-os2web-kulturnaut-date {
        font-size: 0.8em;
      }
      .field-name-field-os2web-kulturnaut-venue {
        font-size: 0.7em !important;
        padding: 0;
      }
    }
    .one-left & {
      .field-name-field-os2web-kulturnaut-date.field-type-datetime {
        span.date-display-single{ 
          font-size: 1.32em;
          font-weight: bold;
          text-transform: lowercase;
          display: block;
        }
        span.date-display-single:first-letter{
          text-transform: uppercase;
        }
      }
      .field-name-field-os2web-kulturnaut-venue.field-type-taxonomy-term-reference{
        font-weight: normal;
      }
    }
  }
}
.view-mode-os2sub_spotbox_single.node, .view-mode-os2sub_spotbox_mini.node, .node--os2web_kulturnaut_knactivity--os2sub_teaser_mini {
  .overlay-wrapper {
    position: relative;
  }
  & .overlay{
    & .field.field-name-field-os2web-kulturnaut-url{
      & a.btn{
        color: $color-focus;
        background-color: $color-background-primary;
        border-color: $color-background-primary;
        &:hover, &:active, &:focus {
          color: $color-background-primary;
          background: none;
          border-color: $color-background-primary;
        }
      }
    }
  }

  &.node-os2web-kulturnaut-knactivity {
    .field-name-field-os2web-kulturnaut-slidesho {
      max-height: 250px;
      overflow: hidden;
    }
    .overlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: rgba($color-focus, 0.75);

      .overlay-content {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding: 20px;
        .field-name-field-os2web-kulturnaut-url {
          margin-bottom: 13px;
        }
        .btn-full-width {
          max-width: 350px;
        }
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
    }
  }
}

.view-mode-os2sub_spotbox_list.node {
  &.node-os2web-kulturnaut-knactivity {
    margin-bottom: 30px;
    margin-left: 100px;
  }
  header h2 {
    font-size: 2em;
    font-family: RobotoSlab;
    font-weight: normal;
    margin-bottom: 3px;
  }
  .field-name-field-os2web-kulturnaut-date {
    font-size: 1.063em;
    font-family: Lato;
    font-weight: bold;
    color: $color-font-light-secondary;
    padding-bottom: 15px;
    float: left;
    text-transform: lowercase;
  }
  .field-name-field-os2web-kulturnaut-date:first-letter {
    text-transform: uppercase;
  }
  .field-name-field-os2web-kulturnaut-venue {
    a{
      font-size: 1.063em;
      font-family: Lato;
      font-weight: bold;
      color: $color-font-light-secondary;
      padding-bottom: 15px;
      margin-left: 5px;
    }
  }
  .link{
    &.show-more {
      a {
        color: $color-focus;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

}
.node.node-os2web-kulturnaut-knactivity.view-mode-os2sub_spotbox_mini.node--os2web_kulturnaut_knactivity--os2sub_spotbox_mini,
.node.node-os2web-kulturnaut-knactivity.view-mode-os2sub_spotbox_single.node--os2web_kulturnaut_knactivity--os2sub_spotbox_single{
  &:hover, &:active, &:focus {
    & .upper-part,
    & .bottom-part{
      visibility: hidden;
    }
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------


// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {




}

// Mobile - only
@include media-breakpoint-only(xs) {


}

// Tablet - and up
@include media-breakpoint-up(sm) {


}

// Tablet - only
@include media-breakpoint-only(sm) {


}

// Desktop - and up
@include media-breakpoint-up(md) {

  .view-mode-spotbox.node,
  .view-mode-os2sub_spotbox_single.node,
  .view-mode-os2sub_spotbox_mini.node {
    &.node-os2web-kulturnaut-knactivity {
      .view-display-id-pane_activities_list_4 & {
        .field-name-field-os2web-kulturnaut-date {
          span.date-display-single{
            font-size: 0.9em;
          }
        }
        header h2 {
          font-size: 1.56em;
        }
        .field-name-field-os2web-kulturnaut-venue {
          display: block;
        }
      }
      .view-display-id-pane_activities_list_2_3 & {
        .field-name-field-os2web-kulturnaut-date {
          font-size: 1em;
          color: $color-font-light;
          font-weight: normal;
          text-transform: lowercase;
        }
        header h2 {
          font-size: 1.75em;
        }
      }

      .view-display-id-pane_activities_list_5_load_more & {
        .field-name-field-os2web-kulturnaut-date {
          span.date-display-single{ 
            font-size: 1.125em;
            color: $color-focus-secondary;
            font-weight: normal;
            text-transform: lowercase;
            display: block;
          }
          span.date-display-single:first-letter{
            text-transform: uppercase;
          }
        }
        header h2 {
          font-size: 1.75em;
        }
        .field-name-field-os2web-kulturnaut-venue{
          font-size: 1.125em;
          font-weight: bold;
          display: block;
        }
        .field-name-field-os2web-base-field-edi-tags {
          display: block;
        }
      }
      .field-name-field-os2web-base-field-edi-tags {
        font-size: 1.125em;
        font-weight: 900;
      }
    }

  }
  .view-mode-os2sub_spotbox_single.node{
    &.node-os2web-kulturnaut-knactivity {
      .field-name-field-os2web-kulturnaut-slidesho {
        max-height: none;
      }
    }
  }


}
// Desktop - only
@include media-breakpoint-only(md) {



}

// Large desktop - and up
@include media-breakpoint-up(lg) {


}

// Print
@media print {


}

// Touch
.touchevents {

  // Page layout
  .content-inner {}
}

// No touch
.no-touchevents {


}
// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Page layout mixin
@mixin content-mixin-inner() {}
